<a href="https://colab.research.google.com/github/samirgadkari/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/DS_Unit_2_Sprint_Challenge_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 2 Sprint Challenge 3

## Logistic Regression and Beyond

In this sprint challenge you will fit a logistic regression modeling the probability of an adult having an income above 50K. The dataset is available at UCI:

https://archive.ics.uci.edu/ml/datasets/adult

Your goal is to:

1. Load, validate, and clean/prepare the data.
2. Fit a logistic regression model
3. Answer questions based on the results (as well as a few extra questions about the other modules)

Don't let the perfect be the enemy of the good! Manage your time, and make sure to get to all parts. If you get stuck wrestling with the data, simplify it (if necessary, drop features or rows) so you're able to move on. If you have time at the end, you can go back and try to fix/improve.

### Hints

It has a variety of features - some are continuous, but many are categorical. You may find [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) (a method to one-hot encode) helpful!

The features have dramatically different ranges. You may find [sklearn.preprocessing.minmax_scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#sklearn.preprocessing.minmax_scale) helpful!

## Part 1 - Load, validate, and prepare data

The data is available at: https://archive.ics.uci.edu/ml/datasets/adult

Load it, name the columns, and make sure that you've loaded the data successfully. Note that missing values for categorical variables can essentially be considered another category ("unknown"), and may not need to be dropped.

You should also prepare the data for logistic regression - one-hot encode categorical features as appropriate.

In [0]:
!pip install -U seaborn

Requirement already up-to-date: seaborn in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (0.9.0)
Requirement already satisfied, skipping upgrade: pandas>=0.15.2 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from seaborn) (0.23.4)
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from seaborn) (1.15.4)
Requirement already satisfied, skipping upgrade: matplotlib>=1.4.3 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from seaborn) (3.0.2)
Requirement already satisfied, skipping upgrade: scipy>=0.14.0 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from seaborn) (1.1.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn) (2.7.5)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn) (2018.7)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (1.0.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (0.10.0)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn) (2.3.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.15.2->seaborn) (1.11.0)
Requirement already satisfied, skipping upgrade: setuptools in /Users/samirgadkari/anaconda3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn) (40.6.2)

In [0]:
import seaborn as sns
print(sns.__version__)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

0.9.0

In [0]:
adults = pd.read_csv('https://archive.ics.uci.edu/ml/'
                     'machine-learning-databases/adult/adult.data',
                      header = None,
                      names = ['age', 'workclass',
                               'fnlwgt', 'education',
                               'education-num', 'marital-status',
                               'occupation', 'relationship',
                               'race', 'sex',
                               'capital-gain', 'capital-loss',
                               'hours-per-week', 'native-country',
                               'gt_or_lt_50K'],
                      index_col = False)

In [0]:
### From the adult_names file
age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [0]:
adults.shape

(32561, 15)

In [0]:
adults.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gt_or_lt_50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

In [0]:
adults.columns.to_series().groupby(adults.dtypes).groups

{dtype('int64'): Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
        'hours-per-week'],
       dtype='object'),
 dtype('O'): Index(['workclass', 'education', 'marital-status', 'occupation',
        'relationship', 'race', 'sex', 'native-country', 'gt_or_lt_50K'],
       dtype='object')}

In [0]:
def print_uniques(df):
    df1 = df.select_dtypes('O')
    cols = df1.columns
    for col in cols:
        uniques = df[col].unique()
        print('{:>15}:'.format(col),
              'num:', uniques.size,
              ','.join(uniques))
print_uniques(adults)

      workclass: num: 9  State-gov, Self-emp-not-inc, Private, Federal-gov, Local-gov, ?, Self-emp-inc, Without-pay, Never-worked
      education: num: 16  Bachelors, HS-grad, 11th, Masters, 9th, Some-college, Assoc-acdm, Assoc-voc, 7th-8th, Doctorate, Prof-school, 5th-6th, 10th, 1st-4th, Preschool, 12th
 marital-status: num: 7  Never-married, Married-civ-spouse, Divorced, Married-spouse-absent, Separated, Married-AF-spouse, Widowed
     occupation: num: 15  Adm-clerical, Exec-managerial, Handlers-cleaners, Prof-specialty, Other-service, Sales, Craft-repair, Transport-moving, Farming-fishing, Machine-op-inspct, Tech-support, ?, Protective-serv, Armed-Forces, Priv-house-serv
   relationship: num: 6  Not-in-family, Husband, Wife, Own-child, Unmarried, Other-relative
           race: num: 5  White, Black, Asian-Pac-Islander, Amer-Indian-Eskimo, Other
            sex: num: 2  Male, Female
 native-country: num: 42  United-States, Cuba, Jamaica, India, ?, Mexico, South, Puerto-Rico, Honduras, England, Canada, Germany, Iran, Philippines, Italy, Poland, Columbia, Cambodia, Thailand, Ecuador, Laos, Taiwan, Haiti, Portugal, Dominican-Republic, El-Salvador, France, Guatemala, China, Japan, Yugoslavia, Peru, Outlying-US(Guam-USVI-etc), Scotland, Trinadad&Tobago, Greece, Nicaragua, Vietnam, Hong, Ireland, Hungary, Holand-Netherlands
   gt_or_lt_50K: num: 2  <=50K, >50K

### Missing values denoted as '?' in categorical columns.  Let's fix them.

In [0]:
cols = adults.select_dtypes(['O']).columns
cols

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'gt_or_lt_50K'],
      dtype='object')

In [0]:
for col in cols:
    adults[col] = adults[col].replace({'?': 'unknown', ' ?': 'unknown'})

In [0]:
print_uniques(adults)

      workclass: num: 9  State-gov, Self-emp-not-inc, Private, Federal-gov, Local-gov,unknown, Self-emp-inc, Without-pay, Never-worked
      education: num: 16  Bachelors, HS-grad, 11th, Masters, 9th, Some-college, Assoc-acdm, Assoc-voc, 7th-8th, Doctorate, Prof-school, 5th-6th, 10th, 1st-4th, Preschool, 12th
 marital-status: num: 7  Never-married, Married-civ-spouse, Divorced, Married-spouse-absent, Separated, Married-AF-spouse, Widowed
     occupation: num: 15  Adm-clerical, Exec-managerial, Handlers-cleaners, Prof-specialty, Other-service, Sales, Craft-repair, Transport-moving, Farming-fishing, Machine-op-inspct, Tech-support,unknown, Protective-serv, Armed-Forces, Priv-house-serv
   relationship: num: 6  Not-in-family, Husband, Wife, Own-child, Unmarried, Other-relative
           race: num: 5  White, Black, Asian-Pac-Islander, Amer-Indian-Eskimo, Other
            sex: num: 2  Male, Female
 native-country: num: 42  United-States, Cuba, Jamaica, India,unknown, Mexico, South, Puerto-Rico, Honduras, England, Canada, Germany, Iran, Philippines, Italy, Poland, Columbia, Cambodia, Thailand, Ecuador, Laos, Taiwan, Haiti, Portugal, Dominican-Republic, El-Salvador, France, Guatemala, China, Japan, Yugoslavia, Peru, Outlying-US(Guam-USVI-etc), Scotland, Trinadad&Tobago, Greece, Nicaragua, Vietnam, Hong, Ireland, Hungary, Holand-Netherlands
   gt_or_lt_50K: num: 2  <=50K, >50K

### Convert >50K to 1 and <=50K to 0

In [0]:
adults['gt_or_lt_50K'] = adults['gt_or_lt_50K'].replace({'>50K': 1, ' >50K': 1, '<=50K': 0, ' <=50K': 0})

In [0]:
adults.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,gt_or_lt_50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,unknown,1
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,1

### Find and handle null values in numerical columns

In [0]:
pd.options.mode.use_inf_as_na = True

In [0]:
cols = adults.select_dtypes(['int64']).columns
cols

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'gt_or_lt_50K'],
      dtype='object')

In [0]:
adults.isnull().sum().sum()

0

### No null values in numerical columns
### Let's continue to one-hot encode categorical columns as required

In [0]:
df1 = adults[adults.select_dtypes(['O']).columns]
df1_encoded = pd.get_dummies(df1)
df2 = adults[adults.select_dtypes(['int64']).columns]
adults_encoded = df1_encoded.join(df2)
adults_encoded

,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,workclass_unknown,education_ 10th,...,native-country_ Vietnam,native-country_ Yugoslavia,native-country_unknown,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,gt_or_lt_50K
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,39,77516,13,2174,0,40,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,50,83311,13,0,0,13,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,38,215646,9,0,0,40,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,53,234721,7,0,0,40,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,28,338409,13,0,0,40,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,37,284582,14,0,0,40,0
6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,49,160187,5,0,0,16,0
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,52,209642,9,0,0,45,1
8,0,0,0,1,0,0,0,0,0,0,...,0,0,0,31,45781,14,14084,0,50,1
9,0,0,0,1,0,0,0,0,0,0,...,0,0,0,42,159449,13,5178,0,40,1
10,0,0,0,1,0,0,0,0,0,0,...,0,0,0,37,280464,10,0,0,80,1
11,0,0,0,0,0,0,1,0,0,0,...,0,0,0,30,141297,13,0,0,40,1
12,0,0,0,1,0,0,0,0,0,0,...,0,0,0,23,122272,13,0,0,30,0
13,0,0,0,1,0,0,0,0,0,0,...,0,0,0,32,205019,12,0,0,50,0
14,0,0,0,1,0,0,0,0,0,0,...,0,0,1,40,121772,11,0,0,40,1
15,0,0,0,1,0,0,0,0,0,0,...,0,0,0,34,245487,4,0,0,45,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,25,176756,9,0,0,35,0
17,0,0,0,1,0,0,0,0,0,0,...,0,0,0,32,186824,9,0,0,40,0
18,0,0,0,1,0,0,0,0,0,0,...,0,0,0,38,28887,7,0,0,50,0
19,0,0,0,0,0,1,0,0,0,0,...,0,0,0,43,292175,14,0,0,45,1
20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,40,193524,16,0,0,60,1
21,0,0,0,1,0,0,0,0,0,0,...,0,0,0,54,302146,9,0,0,20,0
22,1,0,0,0,0,0,0,0,0,0,...,0,0,0,35,76845,5,0,0,40,0
23,0,0,0,1,0,0,0,0,0,0,...,0,0,0,43,117037,7,0,2042,40,0
24,0,0,0,1,0,0,0,0,0,0,...,0,0,0,59,109015,9,0,0,40,0
25,0,1,0,0,0,0,0,0,0,0,...,0,0,0,56,216851,13,0,0,40,1
26,0,0,0,1,0,0,0,0,0,0,...,0,0,0,19,168294,9,0,0,40,0
27,0,0,0,0,0,0,0,0,1,0,...,0,0,0,54,180211,10,0,0,60,1
28,0,0,0,1,0,0,0,0,0,0,...,0,0,0,39,367260,9,0,0,80,0
29,0,0,0,1,0,0,0,0,0,0,...,0,0,0,49,193366,9,0,0,40,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,0,0,0,0,0,0,0,0,1,0,...,0,0,0,30,33811,13,0,0,99,0
32532,0,0,0,1,0,0,0,0,0,0,...,0,0,0,34,204461,16,0,0,60,1
32533,0,0,0,1,0,0,0,0,0,0,...,0,0,0,54,337992,13,0,0,50,1
32534,0,0,0,1,0,0,0,0,0,0,...,0,0,0,37,179137,10,0,0,39,0
32535,0,0,0,1,0,0,0,0,0,0,...,0,0,0,22,325033,8,0,0,35,0
32536,0,0,0,1,0,0,0,0,0,0,...,0,0,0,34,160216,13,0,0,55,1
32537,0,0,0,1,0,0,0,0,0,0,...,0,0,0,30,345898,9,0,0,46,0
32538,0,0,0,1,0,0,0,0,0,0,...,0,0,0,38,139180,13,15020,0,45,1
32539,0,0,0,0,0,0,0,0,1,0,...,0,0,0,71,287372,16,0,0,10,1
32540,0,0,0,0,0,0,1,0,0,0,...,0,0,0,45,252208,9,0,0,40,0
32541,0,0,0,0,0,0,0,0,1,0,...,0,0,0,41,202822,9,0,0,32,0
32542,0,0,0,0,0,0,0,0,1,0,...,0,0,0,72,129912,9,0,0,25,0
32543,0,1,0,0,0,0,0,0,0,0,...,0,0,0,45,119199,12,0,0,48,0
32544,0,0,0,1,0,0,0,0,0,0,...,0,0,0,31,199655,14,0,0,30,0
32545,0,1,0,0,0,0,0,0,0,0,...,0,0,0,39,111499,12,0,0,20,1
32546,0,0,0,1,0,0,0,0,0,0,...,0,0,0,37,198216,12,0,0,40,0
32547,0,0,0,1,0,0,0,0,0,0,...,0,0,0,43,260761,9,0,0,40,0
32548,0,0,0,0,0,1,0,0,0,0,...,0,0,0,65,99359,15,1086,0,60,0
32549,0,0,0,0,0,0,1,0,0,0,...,0,0,0,43,255835,10,0,0,40,0
32550,0,0,0,0,0,1,0,0,0,0,...,0,0,0,43,27242,10,0,0,50,0
32551,0,0,0,1,0,0,0,0,0,1,...,0,0,0,32,34066,6,0,0,40,0
32552,0,0,0,1,0,0,0,0,0,0,...,0,0,0,43,84661,11,0,0,45,0
32553,0,0,0,1,0,0,0,0,0,0,...,0,0,0,32,116138,14,0,0,11,0
32554,0,0,0,1,0,0,0,0,0,0,...,0,0,0,53,321865,14,0,0,40,1
32555,0,0,0,1,0,0,0,0,0,0,...,0,0,0,22,310152,10,0,0,40,0
32556,0,0,0,1,0,0,0,0,0,0,...,0,0,0,27,257302,12,0,0,38,0
32557,0,0,0,1,0,0,0,0,0,0,...,0,0,0,40,154374,9,0,0,40,1
32558,0,0,0,1,0,0,0,0,0,0,...,0,0,0,58,151910,9,0,0,40,0
32559,0,0,0,1,0,0,0,0,0,0,...,0,0,0,22,201490,9,0,0,20,0
32560,0,0,0,0,1,0,0,0,0,0,...,0,0,0,52,287927,9,15024,0,40,1

In [0]:
adults_encoded['gt_or_lt_50K'].unique()

array([0, 1])

In [0]:
adults_encoded.columns.to_series().groupby(adults_encoded.dtypes).groups

{dtype('uint8'): Index(['workclass_ Federal-gov', 'workclass_ Local-gov',
        'workclass_ Never-worked', 'workclass_ Private',
        'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
        'workclass_ State-gov', 'workclass_ Without-pay', 'workclass_unknown',
        'education_ 10th',
        ...
        'native-country_ Puerto-Rico', 'native-country_ Scotland',
        'native-country_ South', 'native-country_ Taiwan',
        'native-country_ Thailand', 'native-country_ Trinadad&Tobago',
        'native-country_ United-States', 'native-country_ Vietnam',
        'native-country_ Yugoslavia', 'native-country_unknown'],
       dtype='object', length=102),
 dtype('int64'): Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
        'hours-per-week', 'gt_or_lt_50K'],
       dtype='object')}

## Part 2 - Fit and present a Logistic Regression

Your data should now be in a state to fit a logistic regression. Use scikit-learn, define your `X` (independent variable) and `y`, and fit a model.

Then, present results - display coefficients in as interpretible a way as you can (hint - scaling the numeric features will help, as it will at least make coefficients more comparable to each other). If you find it helpful for interpretation, you can also generate predictions for cases (like our 5 year old rich kid on the Titanic) or make visualizations - but the goal is your exploration to be able to answer the question, not any particular plot (i.e. don't worry about polishing it).

It is *optional* to use `train_test_split` or validate your model more generally - that is not the core focus for this week. So, it is suggested you focus on fitting a model first, and if you have time at the end you can do further validation.

### Let's scale the numeric features

In [0]:
cols = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
        'hours-per-week']
for col in cols:
    data = np.reshape(adults_encoded[col].values, (-1, 1))
    scaler = StandardScaler()
    scaler.fit(data)
    adults_encoded[col] = scaler.transform(data)

[39 50 38 ... 58 22 52]

/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [0]:
adults_encoded.head(20)

,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,workclass_unknown,education_ 10th,...,native-country_ Vietnam,native-country_ Yugoslavia,native-country_unknown,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,gt_or_lt_50K
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.115955,0.898201,1.523438,-0.145920,-0.21666,-0.035429,0
6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0.763796,-0.280358,-1.974858,-0.145920,-0.21666,-1.979184,0
7,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0.983734,0.188195,-0.420060,-0.145920,-0.21666,0.369519,1
8,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.555830,-1.364279,1.523438,1.761142,-0.21666,0.774468,1
9,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0.250608,-0.287350,1.134739,0.555214,-0.21666,-0.035429,1
10,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.115955,0.859186,-0.031360,-0.145920,-0.21666,3.204161,1
11,0,0,0,0,0,0,1,0,0,0,...,0,0,0,-0.629143,-0.459328,1.134739,-0.145920,-0.21666,-0.035429,1
12,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-1.142331,-0.639578,1.134739,-0.145920,-0.21666,-0.845327,0
13,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.482518,0.144395,0.746039,-0.145920,-0.21666,0.774468,0
14,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0.103983,-0.644315,0.357340,-0.145920,-0.21666,-0.035429,1
15,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.335892,0.527802,-2.363558,-0.145920,-0.21666,0.369519,0
16,0,0,0,0,0,1,0,0,0,0,...,0,0,0,-0.995706,-0.123378,-0.420060,-0.145920,-0.21666,-0.440378,0
17,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.482518,-0.027991,-0.420060,-0.145920,-0.21666,-0.035429,0
18,0,0,0,1,0,0,0,0,0,0,...,0,0,0,-0.042642,-1.524338,-1.197459,-0.145920,-0.21666,0.774468,0
19,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0.323921,0.970140,1.523438,-0.145920,-0.21666,0.369519,1

In [0]:
X = adults_encoded.drop(['gt_or_lt_50K'], axis = 1)
y = adults_encoded['gt_or_lt_50K']
log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8531064770737999

In [0]:
coeffs = log_reg.coef_[0]
cols = adults_encoded.columns
coeffs_zipped = list(zip(cols, coeffs))  # we did not look at abs(coef_) here
coeffs_zipped.sort(key = lambda x: x[1], reverse = True)
coeffs_zipped

[('capital-gain', 2.308516922571051),
 ('marital-status_ Married-AF-spouse', 1.405812569698593),
 ('marital-status_ Married-civ-spouse', 1.2579294202231448),
 ('native-country_ Cambodia', 1.0372772378146318),
 ('relationship_ Wife', 1.0143217850602728),
 ('occupation_ Exec-managerial', 0.8616673668705758),
 ('native-country_ Italy', 0.8570886248992131),
 ('education-num', 0.7557519134316374),
 ('occupation_ Tech-support', 0.726205641420045),
 ('occupation_ Protective-serv', 0.6459302926136646),
 ('occupation_ Prof-specialty', 0.5920269984579891),
 ('native-country_ France', 0.569821113268248),
 ('education_ 5th-6th', 0.5568135328152521),
 ('native-country_ Yugoslavia', 0.5565147761864135),
 ('native-country_ Philippines', 0.5409461857704255),
 ('workclass_ Federal-gov', 0.5406366244979757),
 ('native-country_ Germany', 0.5277123740687741),
 ('education_ 1st-4th', 0.5116677338284811),
 ('native-country_ Ireland', 0.4718642728242551),
 ('native-country_ Japan', 0.4633450491184909),
 ('native-country_ Cuba', 0.4348862896266522),
 ('native-country_ Canada', 0.43106239363550924),
 ('native-country_ England', 0.40089652839192697),
 ('hours-per-week', 0.36642319350284225),
 ('occupation_ Sales', 0.358154541156621),
 ('age', 0.34661833512878804),
 ('native-country_ United-States', 0.32353776649586624),
 ('capital-loss', 0.2597341594072956),
 ('workclass_ Self-emp-inc', 0.2193060649102837),
 ('occupation_ Craft-repair', 0.15189599936663545),
 ('native-country_ Taiwan', 0.1493681647522214),
 ('native-country_ Iran', 0.14474260480745024),
 ('native-country_ Jamaica', 0.13978128731276487),
 ('native-country_ Poland', 0.10387710449188739),
 ('education_ Prof-school', 0.09592246030772396),
 ('native-country_ Scotland', 0.08585425187437876),
 ('occupation_ Adm-clerical', 0.0787440039231667),
 ('native-country_ Portugal', 0.07609550453097158),
 ('fnlwgt', 0.07454499736627924),
 ('education_ 7th-8th', 0.06488041522187801),
 ('native-country_ Haiti', 0.05165631599947753),
 ('education_ 9th', 0.04524160105908884),
 ('workclass_ Private', 0.04499620702998145),
 ('native-country_ Hong', 0.028839119974937807),
 ('relationship_ Not-in-family', 0.018091907335324037),
 ('native-country_ Hungary', 0.009655379651547582),
 ('education_ Doctorate', 0.00157968633796415),
 ('race_ Asian-Pac-Islander', 0.0015258095643761835),
 ('native-country_ Holand-Netherlands', -0.0145332121730675),
 ('occupation_ Transport-moving', -0.03116964745981781),
 ('education_ 10th', -0.04425863275369455),
 ('native-country_unknown', -0.05488775711216954),
 ('education_ Some-college', -0.06104972815159737),
 ('race_ White', -0.0762060317098469),
 ('native-country_ Guatemala', -0.0810093520281498),
 ('native-country_ Ecuador', -0.09774929924241262),
 ('education_ Masters', -0.10672936432406388),
 ('education_ HS-grad', -0.11353662302944934),
 ('relationship_ Unmarried', -0.1184911813328824),
 ('workclass_ Local-gov', -0.1350206916846291),
 ('education_ 12th', -0.13876167437619377),
 ('native-country_ Trinadad&Tobago', -0.14347292483521773),
 ('workclass_ Never-worked', -0.15636424964983212),
 ('education_ Assoc-voc', -0.1599475339945646),
 ('education_ Bachelors', -0.1646565601733771),
 ('native-country_ Puerto-Rico', -0.1812484352598983),
 ('native-country_ Honduras', -0.2001279637079786),
 ('occupation_ Machine-op-inspct', -0.2018296281123094),
 ('workclass_unknown', -0.20832161019214882),
 ('native-country_ India', -0.21163478892893053),
 ('education_ 11th', -0.2486920733844578),
 ('race_ Black', -0.25573917841805544),
 ('native-country_ Thailand', -0.258646590770229),
 ('workclass_ State-gov', -0.26255094913123833),
 ('native-country_ Laos', -0.2744178867426749),
 ('sex_ Male', -0.2793976007643475),
 ('relationship_ Husband', -0.32730243721667557),
 ('occupation_ Armed-Forces', -0.349743425560642),
 ('occupation_unknown', -0.364685859841983),
 ('native-country_ El-Salvador', -0.38729411819407195),
 ('native-country_ Peru', -0.42536615868932376),
 ('native-country_ Nicaragua', -0.42939301680416303),
 ('native-country_ Mexico', -0.43279211765389725),
 ('workclass_ Self-emp-not-inc', -0.4418111222341843),
 ('race_ Other', -0.46206893575685554),
 ('education_ Assoc-acdm', -0.4651672670463193),
 ('native-country_ China', -0.4879676480009965),
 ('occupation_ Handlers-cleaners', -0.5902027893130253),
 ('marital-status_ Widowed', -0.5918264254647067),
 ('race_ Amer-Indian-Eskimo', -0.6169865924038175),
 ('native-country_ Greece', -0.6519023446400879),
 ('native-country_ Outlying-US(Guam-USVI-etc)', -0.6790288608780041),
 ('marital-status_ Married-spouse-absent', -0.7073657177927472),
 ('marital-status_ Divorced', -0.7228809735991136),
 ('occupation_ Other-service', -0.7362750951773439),
 ('native-country_ Vietnam', -0.7585294325279431),
 ('native-country_ South', -0.7979410517732731),
 ('relationship_ Other-relative', -0.8400696592943107),
 ('marital-status_ Separated', -0.8419104958561208),
 ('occupation_ Farming-fishing', -0.9128013392305521),
 ('native-country_ Dominican-Republic', -0.9583763271298901),
 ('workclass_ Without-pay', -1.0103452022678443),
 ('sex_ Female', -1.1300773279607017),
 ('relationship_ Own-child', -1.1560253432762735),
 ('education_ Preschool', -1.1827809010550254),
 ('marital-status_ Never-married', -1.2092333059359588),
 ('native-country_ Columbia', -1.2879779871304833),
 ('occupation_ Priv-house-serv', -1.6373919878329355)]

In [0]:
coeffs_zipped = list(zip(cols, np.abs(coeffs)))  # we're looking at abs(coef_) here
coeffs_zipped.sort(key = lambda x: x[1], reverse = True)
coeffs_zipped

[('capital-gain', 2.308516922571051),
 ('occupation_ Priv-house-serv', 1.6373919878329355),
 ('marital-status_ Married-AF-spouse', 1.405812569698593),
 ('native-country_ Columbia', 1.2879779871304833),
 ('marital-status_ Married-civ-spouse', 1.2579294202231448),
 ('marital-status_ Never-married', 1.2092333059359588),
 ('education_ Preschool', 1.1827809010550254),
 ('relationship_ Own-child', 1.1560253432762735),
 ('sex_ Female', 1.1300773279607017),
 ('native-country_ Cambodia', 1.0372772378146318),
 ('relationship_ Wife', 1.0143217850602728),
 ('workclass_ Without-pay', 1.0103452022678443),
 ('native-country_ Dominican-Republic', 0.9583763271298901),
 ('occupation_ Farming-fishing', 0.9128013392305521),
 ('occupation_ Exec-managerial', 0.8616673668705758),
 ('native-country_ Italy', 0.8570886248992131),
 ('marital-status_ Separated', 0.8419104958561208),
 ('relationship_ Other-relative', 0.8400696592943107),
 ('native-country_ South', 0.7979410517732731),
 ('native-country_ Vietnam', 0.7585294325279431),
 ('education-num', 0.7557519134316374),
 ('occupation_ Other-service', 0.7362750951773439),
 ('occupation_ Tech-support', 0.726205641420045),
 ('marital-status_ Divorced', 0.7228809735991136),
 ('marital-status_ Married-spouse-absent', 0.7073657177927472),
 ('native-country_ Outlying-US(Guam-USVI-etc)', 0.6790288608780041),
 ('native-country_ Greece', 0.6519023446400879),
 ('occupation_ Protective-serv', 0.6459302926136646),
 ('race_ Amer-Indian-Eskimo', 0.6169865924038175),
 ('occupation_ Prof-specialty', 0.5920269984579891),
 ('marital-status_ Widowed', 0.5918264254647067),
 ('occupation_ Handlers-cleaners', 0.5902027893130253),
 ('native-country_ France', 0.569821113268248),
 ('education_ 5th-6th', 0.5568135328152521),
 ('native-country_ Yugoslavia', 0.5565147761864135),
 ('native-country_ Philippines', 0.5409461857704255),
 ('workclass_ Federal-gov', 0.5406366244979757),
 ('native-country_ Germany', 0.5277123740687741),
 ('education_ 1st-4th', 0.5116677338284811),
 ('native-country_ China', 0.4879676480009965),
 ('native-country_ Ireland', 0.4718642728242551),
 ('education_ Assoc-acdm', 0.4651672670463193),
 ('native-country_ Japan', 0.4633450491184909),
 ('race_ Other', 0.46206893575685554),
 ('workclass_ Self-emp-not-inc', 0.4418111222341843),
 ('native-country_ Cuba', 0.4348862896266522),
 ('native-country_ Mexico', 0.43279211765389725),
 ('native-country_ Canada', 0.43106239363550924),
 ('native-country_ Nicaragua', 0.42939301680416303),
 ('native-country_ Peru', 0.42536615868932376),
 ('native-country_ England', 0.40089652839192697),
 ('native-country_ El-Salvador', 0.38729411819407195),
 ('hours-per-week', 0.36642319350284225),
 ('occupation_unknown', 0.364685859841983),
 ('occupation_ Sales', 0.358154541156621),
 ('occupation_ Armed-Forces', 0.349743425560642),
 ('age', 0.34661833512878804),
 ('relationship_ Husband', 0.32730243721667557),
 ('native-country_ United-States', 0.32353776649586624),
 ('sex_ Male', 0.2793976007643475),
 ('native-country_ Laos', 0.2744178867426749),
 ('workclass_ State-gov', 0.26255094913123833),
 ('capital-loss', 0.2597341594072956),
 ('native-country_ Thailand', 0.258646590770229),
 ('race_ Black', 0.25573917841805544),
 ('education_ 11th', 0.2486920733844578),
 ('workclass_ Self-emp-inc', 0.2193060649102837),
 ('native-country_ India', 0.21163478892893053),
 ('workclass_unknown', 0.20832161019214882),
 ('occupation_ Machine-op-inspct', 0.2018296281123094),
 ('native-country_ Honduras', 0.2001279637079786),
 ('native-country_ Puerto-Rico', 0.1812484352598983),
 ('education_ Bachelors', 0.1646565601733771),
 ('education_ Assoc-voc', 0.1599475339945646),
 ('workclass_ Never-worked', 0.15636424964983212),
 ('occupation_ Craft-repair', 0.15189599936663545),
 ('native-country_ Taiwan', 0.1493681647522214),
 ('native-country_ Iran', 0.14474260480745024),
 ('native-country_ Trinadad&Tobago', 0.14347292483521773),
 ('native-country_ Jamaica', 0.13978128731276487),
 ('education_ 12th', 0.13876167437619377),
 ('workclass_ Local-gov', 0.1350206916846291),
 ('relationship_ Unmarried', 0.1184911813328824),
 ('education_ HS-grad', 0.11353662302944934),
 ('education_ Masters', 0.10672936432406388),
 ('native-country_ Poland', 0.10387710449188739),
 ('native-country_ Ecuador', 0.09774929924241262),
 ('education_ Prof-school', 0.09592246030772396),
 ('native-country_ Scotland', 0.08585425187437876),
 ('native-country_ Guatemala', 0.0810093520281498),
 ('occupation_ Adm-clerical', 0.0787440039231667),
 ('race_ White', 0.0762060317098469),
 ('native-country_ Portugal', 0.07609550453097158),
 ('fnlwgt', 0.07454499736627924),
 ('education_ 7th-8th', 0.06488041522187801),
 ('education_ Some-college', 0.06104972815159737),
 ('native-country_unknown', 0.05488775711216954),
 ('native-country_ Haiti', 0.05165631599947753),
 ('education_ 9th', 0.04524160105908884),
 ('workclass_ Private', 0.04499620702998145),
 ('education_ 10th', 0.04425863275369455),
 ('occupation_ Transport-moving', 0.03116964745981781),
 ('native-country_ Hong', 0.028839119974937807),
 ('relationship_ Not-in-family', 0.018091907335324037),
 ('native-country_ Holand-Netherlands', 0.0145332121730675),
 ('native-country_ Hungary', 0.009655379651547582),
 ('education_ Doctorate', 0.00157968633796415),
 ('race_ Asian-Pac-Islander', 0.0015258095643761835)]

In [0]:
### Looks like these are the highest features that show who's getting more than 50K:
  - 'capital-gain'
  - 'occupation_ Priv-house-serv
  - 'marital-status_ Married-AF-spouse'
  - 'native-country_ Columbia'
  - 'marital-status_ Married-civ-spouse'
  - 'marital-status_ Never-married'
### Let's just take these and see what score we get

In [0]:
features = ['capital-gain',
            'marital-status_ Married-AF-spouse',
            'marital-status_ Married-civ-spouse',
            'marital-status_ Never-married',
            'native-country_ Columbia',
            'occupation_ Priv-house-serv']
X = adults_encoded[features]
y = adults_encoded['gt_or_lt_50K']
log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/Users/samirgadkari/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7937716900586591

In [0]:
coeffs = log_reg.coef_[0]
cols = features
coeffs_zipped = list(zip(cols, coeffs))
coeffs_zipped.sort(key = lambda x: x[1], reverse = True)
coeffs_zipped

[('capital-gain', 2.3670893779855247),
 ('marital-status_ Married-civ-spouse', 2.104577444344599),
 ('marital-status_ Married-AF-spouse', 1.7910408349902298),
 ('marital-status_ Never-married', -0.7621859882521643),
 ('native-country_ Columbia', -1.4874709778484336),
 ('occupation_ Priv-house-serv', -2.1450309068039273)]

### With this smaller set of features, we get a score of almost 80.
### With all features, our score was around 85.
### We can say that these features show us a good magnitude of the relationship with people earning > 50K

## Part 3 - Analysis, Interpretation, and Questions

### Based on your above model, answer the following questions

1. What are 3 features positively correlated with income above 50k?
2. What are 3 features negatively correlated with income above 50k?
3. Overall, how well does the model explain the data and what insights do you derive from it?

*These answers count* - that is, make sure to spend some time on them, connecting to your analysis above. There is no single right answer, but as long as you support your reasoning with evidence you are on the right track.

Note - scikit-learn logistic regression does *not* automatically perform a hypothesis test on coefficients. That is OK - if you scale the data they are more comparable in weight.

### Match the following situation descriptions with the model most appropriate to addressing them

In addition to logistic regression, a number of other approaches were covered this week. Pair them with the situations they are most appropriate for, and briefly explain why.

Situations:
1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.
2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.
3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.

Approaches:
1. Ridge Regression
2. Quantile Regression
3. Survival Analysis

**TODO - your answers!**

### Top features positively correlated with income:
  - 'capital-gain'
  - 'marital-status_ Married-AF-spouse'
  - 'marital-status_ Married-civ-spouse'
  
### Top features negatively correlated with income:
  - 'marital-status_ Never-married'
  - 'native-country_ Columbia'
  - 'occupation_ Priv-house-serv'
  
### How well the model explains the data, and insights we derive from it
  - With the top 3 positively and negatively correlated features, we get a score of almost 80.
  - With all features, our score was around 85.
  - We can say that these smaller set of features show us a large magnitude of the relationship with people earning > 50K.  We're only losing ~ 6% of the score.
  -  'capital-gain': You can only have capital gains if you're invested in the stock market.  If you're invested in the stock market, you must have a large amount of savings, which is probably because your income is large.
  - 'marital-status': If you're married, you're steady and can help each other to overcome difficulties.  Overcoming difficulties means you will get better at work, and steadily get more income.  Not sure why only certain marital status came out higher.
  - ''marital-status_ Never-married': You have no one to help you through tough times, also no one to push you to do better, so this is negatively correlated with income.
  -  'native-country_ Columbia': Not sure what this is about.  Columbia is a well-run capitalist country.
  -  'occupation_ Priv-house-serv': If you're working as a maid in a house and living there, you're probably not making much.  Your housing costs will come out of income that you could have made if you were living on your own.
  
  In short:
  - Invest
  - Get married
  - Live in a nice country (get there somehow)
  - Do jobs related to making decisions/thinking rather than labor

### Match the model to the situation
  1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.
  
  Since we're looking at tiers, we should use Quantile regression. This way our line will fit to separate the bottom tier from the top tiers.
  
  2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.
  
  Here we should use Survival Analysis.  This is because there would be cases where products are not launched, but your study concludes (this data is censored).
  
  3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.
  
  This is a case where you may have number of features > number of observations.  In this case you should use Ridge Regression to move you away from overfitting your model to the data.  Try different alpha values and plot it against the mean-squared-errors to see which alpha gives you enough bias so you're not overfitting, but not too much so you're not underfitting.