# Data Science Unit 2 Sprint Challenge 3

## Logistic Regression and Beyond

In this sprint challenge you will fit a logistic regression modeling the probability of an adult having an income above 50K. The dataset is available at UCI:

https://archive.ics.uci.edu/ml/datasets/adult

Your goal is to:

1. Load, validate, and clean/prepare the data.
2. Fit a logistic regression model
3. Answer questions based on the results (as well as a few extra questions about the other modules)

Don't let the perfect be the enemy of the good! Manage your time, and make sure to get to all parts. If you get stuck wrestling with the data, simplify it (if necessary, drop features or rows) so you're able to move on. If you have time at the end, you can go back and try to fix/improve.

### Hints

It has a variety of features - some are continuous, but many are categorical. You may find [pandas.get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) (a method to one-hot encode) helpful!

The features have dramatically different ranges. You may find [sklearn.preprocessing.minmax_scale](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.minmax_scale.html#sklearn.preprocessing.minmax_scale) helpful!

## Part 1 - Load, validate, and prepare data

The data is available at: https://archive.ics.uci.edu/ml/datasets/adult

Load it, name the columns, and make sure that you've loaded the data successfully. Note that missing values for categorical variables can essentially be considered another category ("unknown"), and may not need to be dropped.

You should also prepare the data for logistic regression - one-hot encode categorical features as appropriate.

In [10]:
#Load pandas, data.csv and create column names
import pandas as pd

names1 = ['age', 'working_class','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','fifty_k']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None )
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [12]:
#rename columns
df.columns = names1
df.head(1)

,age,working_class,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,fifty_k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [20]:
#one-hot encode all categorical data
obj_df = df.select_dtypes(include=['object']).copy()
df_encoded = pd.get_dummies(df, columns=list(obj_df), drop_first=True)

In [21]:
df_encoded.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,working_class_ Federal-gov,working_class_ Local-gov,working_class_ Never-worked,working_class_ Private,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,fifty_k_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,53,234721,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28,338409,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [71]:
df_encoded.isna().sum().sum()

0

In [ ]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  

df_encoded['fifty_k_ >50K'].plot.bar()

## Part 2 - Fit and present a Logistic Regression

Your data should now be in a state to fit a logistic regression. Use scikit-learn, define your `X` (independent variable) and `y`, and fit a model.

Then, present results - display coefficients in as interpretible a way as you can (hint - scaling the numeric features will help, as it will at least make coefficients more comparable to each other). If you find it helpful for interpretation, you can also generate predictions for cases (like our 5 year old rich kid on the Titanic) or make visualizations - but the goal is your exploration to be able to answer the question, not any particular plot (i.e. don't worry about polishing it).

It is *optional* to use `train_test_split` or validate your model more generally - that is not the core focus for this week. So, it is suggested you focus on fitting a model first, and if you have time at the end you can do further validation.

In [30]:
#Separate data into features and target, and train and test
#Scaling has not been performed on this first attempt
import numpy as np
from sklearn.model_selection import train_test_split
X = df_encoded.loc[:,'age':'native-country_ Yugoslavia']
y = df_encoded.loc[:,'fifty_k_ >50K']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=13)

In [39]:
#Run regression and see score
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log_reg = log.fit(X_train, y_train)
log_reg.score(X, y)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7972420994441203

In [40]:
#Set predictions variable
predictions = log.predict(X_test)

In [43]:
#Check predictions score
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8026242322724735

In [55]:
#Print coefficients for all variables without scaling
print('Coefficients:\n')
for i in range(len(df_encoded)):
    print(list(df_encoded)[i], ': ', log.coef_[0][i])

Coefficients:

age :  -0.004331431056283785
fnlwgt :  -3.5276733136160007e-06
education-num :  -0.002174801676520017
capital-gain :  0.00034435383011747664
capital-loss :  0.0007885400757040971
hours-per-week :  -0.01097542148279274
working_class_ Federal-gov :  0.0001401706797506627
working_class_ Local-gov :  5.607824273266792e-05
working_class_ Never-worked :  -3.0388381189261e-06
working_class_ Private :  -0.001769400155056068
working_class_ Self-emp-inc :  0.0003502722764794547
working_class_ Self-emp-not-inc :  -1.6225602938440587e-05
working_class_ State-gov :  -9.59779678008305e-07
working_class_ Without-pay :  -3.7059648254401763e-06
education_ 11th :  -0.0003747270328781491
education_ 12th :  -0.00011866654458144316
education_ 1st-4th :  -4.7688923418212265e-05
education_ 5th-6th :  -8.873340015383073e-05
education_ 7th-8th :  -0.00018398198409642845
education_ 9th :  -0.00014275647065825918
education_ Assoc-acdm :  -5.099898594286039e-05
education_ Assoc-voc :  -2.1704995374512795e-05
education_ Bachelors :  0.0009606893744558886
education_ Doctorate :  0.00025431230391428786
education_ HS-grad :  -0.00164477396522746
education_ Masters :  0.0005648437503738191
education_ Preschool :  -1.797982308664288e-05
education_ Prof-school :  0.000276172216578956
education_ Some-college :  -0.0008182178721854413
marital-status_ Married-AF-spouse :  5.2609817459646285e-06
marital-status_ Married-civ-spouse :  0.0034889485939618003
marital-status_ Married-spouse-absent :  -0.00010506723447706164
marital-status_ Never-married :  -0.003471477492772549
marital-status_ Separated :  -0.0002848850194279912
marital-status_ Widowed :  -0.00028064819682808637
occupation_ Adm-clerical :  -0.0007318489462204615
occupation_ Armed-Forces :  -2.2783329641275577e-06
occupation_ Craft-repair :  -0.00021920485833487775
occupation_ Exec-managerial :  0.0010407857688163114
occupation_ Farming-fishing :  -0.0002602844185062364
occupation_ Handlers-cleaners :  -0.00038134183526843476
occupation_ Machine-op-inspct :  -0.0003782476976958162
occupation_ Other-service :  -0.0010491175909227628
occupation_ Priv-house-serv :  -4.7961740081920054e-05
occupation_ Prof-specialty :  0.0008522271598937697
occupation_ Protective-serv :  6.112146813538564e-05
occupation_ Sales :  -3.374356431620849e-05
occupation_ Tech-support :  6.816945362536401e-05
occupation_ Transport-moving :  -0.0001620451696951808
relationship_ Not-in-family :  -0.002061358619284339
relationship_ Other-relative :  -0.0003033028229808606
relationship_ Own-child :  -0.001870269005438228
relationship_ Unmarried :  -0.0010139041070273977
relationship_ Wife :  0.0004250545753572734
race_ Asian-Pac-Islander :  -5.36099741540496e-05
race_ Black :  -0.0005379166497796784
race_ Other :  -7.769282394700054e-05
race_ White :  -0.0009367764861190934
sex_ Male :  0.0008551452109452706
native-country_ Cambodia :  1.4814079828030663e-06
native-country_ Canada :  2.4452969385749357e-06
native-country_ China :  6.752945523041633e-06
native-country_ Columbia :  -1.5515380284569537e-05
native-country_ Cuba :  1.2373566735012853e-05
native-country_ Dominican-Republic :  -2.4408338628491778e-05
native-country_ Ecuador :  -2.406142801223841e-06
native-country_ El-Salvador :  -2.5983600886891028e-05
native-country_ England :  1.2434729835443962e-05
native-country_ France :  7.677908320932039e-06
native-country_ Germany :  -1.2857850209935914e-06
native-country_ Greece :  -3.5259877332711036e-06
native-country_ Guatemala :  -1.48008592570539e-05
native-country_ Haiti :  -5.168922186733302e-06
native-country_ Holand-Netherlands :  -1.7233715300044621e-06
native-country_ Honduras :  -3.250543074034243e-06
native-country_ Hong :  -1.710821039655761e-06
native-country_ Hungary :  -2.314189616984161e-06
native-country_ India :  2.0296003266789427e-05
native-country_ Iran :  5.11895008683729e-06
native-country_ Ireland :  -8.740852399117615e-07
native-country_ Italy :  8.153244971190454e-06
native-country_ Jamaica :  -1.306961470284505e-05
native-country_ Japan :  5.7842173470554035e-06
native-country_ Laos :  -6.206535724513534e-06
native-country_ Mexico :  -0.00013251848983906897
native-country_ Nicaragua :  -8.758055915627036e-06
native-country_ Outlying-US(Guam-USVI-etc) :  -5.4571590509435595e-06
native-country_ Peru :  -4.35159589992452e-06
native-country_ Philippines :  5.779811985749474e-06
native-country_ Poland :  -1.0010457504247054e-05
native-country_ Portugal :  -8.258592182298747e-06
native-country_ Puerto-Rico :  -2.144008260537846e-05
native-country_ Scotland :  7.273725596318682e-07
native-country_ South :  -1.1847033689601315e-05
native-country_ Taiwan :  1.0627066000838097e-05
native-country_ Thailand :  -8.860217015797279e-07
native-country_ Trinadad&Tobago :  -4.67501147060872e-06
native-country_ United-States :  -0.0014314664855198346
native-country_ Vietnam :  -2.1694159601445208e-05
native-country_ Yugoslavia :  1.575335438990699e-07

IndexError: index 100 is out of bounds for axis 0 with size 100

In [58]:
#Scale data for next attempt at logistic regression
from sklearn.preprocessing import minmax_scale

df_encoded[['age','fnlwgt','capital-gain','capital-loss','hours-per-week']] = minmax_scale(df_encoded[['age','fnlwgt','capital-gain','capital-loss','hours-per-week']])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64 were all converted to float64.
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
#Separate data again
X = df_encoded.loc[:,'age':'native-country_ Yugoslavia']
y = df_encoded.loc[:,'fifty_k_ >50K']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=13)

In [60]:
#Run logistic regression
log = LogisticRegression()
log_reg = log.fit(X_train, y_train)
log_reg.score(X, y)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8504038573753877

In [63]:
#Set predictions
predictions = log.predict(X_test)

In [64]:
#Check accuracy of predictions
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.8496184626837893

In [67]:
#Print new coefficients
print('Coefficients after min_max scaling: \n')
for i in range(len(df_encoded)):
    print(list(df_encoded)[i], ': ', log.coef_[0][i])

Coefficients after min_max scaling:

age :  1.9441693007692153
fnlwgt :  1.0983267623162127
education-num :  0.14656629458160425
capital-gain :  16.288223159811785
capital-loss :  2.4645217461806657
hours-per-week :  2.7285412856987548
working_class_ Federal-gov :  0.8053279345903519
working_class_ Local-gov :  0.17819004488175175
working_class_ Never-worked :  -0.13811454456106279
working_class_ Private :  0.35909288410431384
working_class_ Self-emp-inc :  0.5628829087394709
working_class_ Self-emp-not-inc :  -0.11131522079921767
working_class_ State-gov :  0.09400118931510996
working_class_ Without-pay :  -0.45933499865428684
education_ 11th :  -0.34695414059217144
education_ 12th :  -0.07914888059605861
education_ 1st-4th :  -0.368496503730575
education_ 5th-6th :  -0.09056333414136558
education_ 7th-8th :  -0.4135484456009051
education_ 9th :  -0.3001855090515108
education_ Assoc-acdm :  0.12990564927140633
education_ Assoc-voc :  0.36915453183043717
education_ Bachelors :  0.6459963691222855
education_ Doctorate :  1.2714739826094723
education_ HS-grad :  0.060327448069360946
education_ Masters :  0.8118967877521434
education_ Preschool :  -0.8267072191648115
education_ Prof-school :  1.1334704408661669
education_ Some-college :  0.2789322279886354
marital-status_ Married-AF-spouse :  1.5138491525235402
marital-status_ Married-civ-spouse :  1.2793422433929773
marital-status_ Married-spouse-absent :  -0.17590149482370632
marital-status_ Never-married :  -0.5419821788314289
marital-status_ Separated :  -0.16705599936133247
marital-status_ Widowed :  -0.1539509620386489
occupation_ Adm-clerical :  0.27713266256583186
occupation_ Armed-Forces :  -0.2943738896140846
occupation_ Craft-repair :  0.32789059994739184
occupation_ Exec-managerial :  0.9928188419869955
occupation_ Farming-fishing :  -0.8885342912452983
occupation_ Handlers-cleaners :  -0.37496363918993625
occupation_ Machine-op-inspct :  -0.04605641751403195
occupation_ Other-service :  -0.5154629736411399
occupation_ Priv-house-serv :  -1.0765967628569217
occupation_ Prof-specialty :  0.7381979690219331
occupation_ Protective-serv :  0.725281340603265
occupation_ Sales :  0.5452392625809768
occupation_ Tech-support :  0.9415418822035949
occupation_ Transport-moving :  0.0767301573328859
relationship_ Not-in-family :  -0.2797003400410499
relationship_ Other-relative :  -0.9553749890474964
relationship_ Own-child :  -1.1273295460471733
relationship_ Unmarried :  -0.5408750445991496
relationship_ Wife :  1.2197204911783988
race_ Asian-Pac-Islander :  0.05531921049475694
race_ Black :  -0.012170114660081844
race_ Other :  -0.23544776531099237
race_ White :  0.19795324543602696
sex_ Male :  0.7228953228287407
native-country_ Cambodia :  1.0018877896084075
native-country_ Canada :  0.23698428012051914
native-country_ China :  -0.07745856821824251
native-country_ Columbia :  -1.128671370154242
native-country_ Cuba :  0.4807428343932169
native-country_ Dominican-Republic :  -0.8800469871607011
native-country_ Ecuador :  -0.03311572127889761
native-country_ El-Salvador :  -0.3392182571570069
native-country_ England :  0.7158825237863687
native-country_ France :  0.5863136329302555
native-country_ Germany :  0.2336751789018261
native-country_ Greece :  -0.6447022314439329
native-country_ Guatemala :  0.19276760785956998
native-country_ Haiti :  0.15595991905140216
native-country_ Holand-Netherlands :  -0.01837412591525873
native-country_ Honduras :  -0.2305623071179982
native-country_ Hong :  -0.26097407060675604
native-country_ Hungary :  -0.2735907264327125
native-country_ India :  0.01062737564574056
native-country_ Iran :  -0.010303855621217033
native-country_ Ireland :  0.5829287179362345
native-country_ Italy :  0.6159855163135508
native-country_ Jamaica :  0.3169138755196336
native-country_ Japan :  0.37984149806705075
native-country_ Laos :  -0.700419568160699
native-country_ Mexico :  -0.42425722325446324
native-country_ Nicaragua :  -0.9510068740707724
native-country_ Outlying-US(Guam-USVI-etc) :  -0.6657476576878805
native-country_ Peru :  -0.06776213511061127
native-country_ Philippines :  0.38030713216221357
native-country_ Poland :  -0.2310818268580487
native-country_ Portugal :  0.2140148030659603
native-country_ Puerto-Rico :  -0.08924798177292652
native-country_ Scotland :  0.10886147849822608
native-country_ South :  -0.4274487989629242
native-country_ Taiwan :  0.06832265528246377
native-country_ Thailand :  -0.11265305637263923
native-country_ Trinadad&Tobago :  -0.2683520206919159
native-country_ United-States :  0.24830665531698168
native-country_ Vietnam :  -0.43178509643460106
native-country_ Yugoslavia :  0.027378435440039175

IndexError: index 100 is out of bounds for axis 0 with size 100

## Part 3 - Analysis, Interpretation, and Questions

### Based on your above model, answer the following questions

1. What are 3 features positively correlated with income above 50k?
2. What are 3 features negatively correlated with income above 50k?
3. Overall, how well does the model explain the data and what insights do you derive from it?

*These answers count* - that is, make sure to spend some time on them, connecting to your analysis above. There is no single right answer, but as long as you support your reasoning with evidence you are on the right track.

Note - scikit-learn logistic regression does *not* automatically perform a hypothesis test on coefficients. That is OK - if you scale the data they are more comparable in weight.

---
### Peyton's Answers
1. wife, age, and having a doctorate are possitively correlated with income above 50k

2. own child, other-relative, and native_country_ Laos are all negatively correlated with income above 50k

3. This model does a solid job of explaining the data. The score, which functions similarly to R^2, is about .85 for the test data. This is indicative of fairly strong explanatory power. Before deriving too many "insights" from the data, an initial sanity check can be performed by looking at variables that are commonly known to predict increased income, such as higher education and having a wife. Both of these are correct. Some insights that may be drawn from the data (greater and lower incomes is in reference to fifty k):


    Which countries are associated with greater and lower incomes 
    
    Which categories of jobs are associated with greater and lower incomes 
    
    Which relationship statuses are associated with greater and lower incomes
    
    The relationship between race and incomes
    
    The relationship between sex and incomes
    
    The relationship between number of hours worked per week and income
    
You can also compare the impact of different factors by comparing the magnitude of their coefficients, but this could also be a reach without further exploration and processing of the data. 

---

### Match the following situation descriptions with the model most appropriate to addressing them

In addition to logistic regression, a number of other approaches were covered this week. Pair them with the situations they are most appropriate for, and briefly explain why.

Situations:

---
1. You are given data on academic performance of primary school students, and asked to fit a model to help predict "at-risk" students who are likely to receive the bottom tier of grades.

### Answer

Quantile Regression: I don't actually think that quantile regression is appropriate here. It's just not appropriate anywhere else. Quantile regression could tell you in which way the features impact the lowest performers, but not predict which observations will be low performers. Quantile regression might be more appropriate for designing an intervention (e.g. we see that the coefficient on feature X is quite large for our lowest performers, so lets design an intervention based around X). 

---
  
  
---
2. You are studying tech companies and their patterns in releasing new products, and would like to be able to model and predict when a new product is likely to be launched.

### Answer

Survival Analysis: this tool is used when modeling time to an event. In this case, the event is a product launch. 

---


---
3. You are working on modeling expected plant size and yield with a laboratory that is able to capture fantastically detailed physical data about plants, but only of a few dozen plants at a time.

### Answer

Ridge Regression: this tool is appropriate for regularizing data that suffers from having too many features given the total number of observations. Fantastically detailed physical information likely means many static features, while the total number of observations is quite limited.  

---


Approaches:
1. Ridge Regression
2. Quantile Regression
3. Survival Analysis

**TODO - your answers!**