<a href="https://colab.research.google.com/github/rick1270/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/RClayton_LS_DS1_231_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic ðŸš¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.1.1)
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.11.29)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: Unidecode>=0.04.16 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.0.23)

In [4]:
# Note - you'll also have to sign up for Kaggle and authorize the API
# https://github.com/Kaggle/kaggle-api#api-credentials

# This essentially means uploading a kaggle.json file
# For Colab we can have it in Google Drive
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/

# You also have to join the Titanic competition to have access to the data
!kaggle competitions download -c titanic

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 40.4MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 28.7MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.02MB/s]

In [5]:
# How would we try to do this with linear regression?
import pandas as pd

train_df = pd.read_csv('train.csv').dropna()
test_df = pd.read_csv('test.csv').dropna()  # Unlabeled, for Kaggle submission

train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [6]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [7]:
from sklearn.linear_model import LinearRegression

X = train_df[['Pclass', 'Age', 'Fare']]
y = train_df.Survived

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)

0.08389810726550917

In [8]:
linear_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([0.79543117, 0.58610823, 0.67595121, 0.793829  , 0.62090522,
       0.72542107, 0.59848968, 0.58734245, 0.48567063, 0.77627736,
       0.84211887, 0.57052439, 0.7754689 , 0.96621114, 0.70287941,
       0.57673837, 0.72321391, 0.75894755, 0.77968041, 0.50246003,
       0.49858077, 0.7474959 , 0.3542282 , 0.61648435, 0.71300224,
       0.66294608, 0.53175333, 0.77397395, 0.68419387, 0.68395536,
       0.52041202, 0.56814038, 0.79586606, 0.81372012, 0.61068545,
       0.57260627, 0.52525981, 0.58055388, 0.45584728, 0.67976208,
       0.8226707 , 0.84286197, 0.96189157, 0.66724612, 0.68589478,
       0.61846513, 0.63455044, 0.68275686, 0.65738372, 0.45198998,
       0.59988596, 0.63845908, 0.63132487, 0.7888473 , 0.60126246,
       0.79714045, 0.78713803, 0.54643775, 0.42823635, 0.7711724 ,
       0.53552976, 0.55608044, 0.54480459, 0.57031915, 0.65080369,
       0.77958926, 0.6371013 , 0.70993488, 0.71493598, 0.60375943,
       0.54407206, 0.48186138, 0.76576089, 0.75456305, 0.53968359,
       0.53814461, 0.51431245, 0.80091026, 0.54231482, 0.8260362 ,
       0.58660686, 0.77766767, 0.60296337, 0.70098322, 0.63455044,
       0.68309915, 0.67573142])

In [9]:
linear_reg.coef_

array([-0.08596295, -0.00829314,  0.00048775])

In [10]:
import numpy as np

test_case = np.array([[1, 5, 500]])  # Rich 5-year old in first class
linear_reg.predict(test_case)

array([1.14845883])

In [11]:
np.dot(linear_reg.coef_, test_case.reshape(-1, 1)) + linear_reg.intercept_

array([1.14845883])

In [12]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression().fit(X, y)
log_reg.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7103825136612022

In [13]:
log_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [14]:
log_reg.predict(test_case)[0]

1

In [15]:
help(log_reg.predict)

Help on method predict in module sklearn.linear_model.base:

predict(X) method of sklearn.linear_model.logistic.LogisticRegression instance
    Predict class labels for samples in X.

    Parameters
    ----------
    X : array_like or sparse matrix, shape (n_samples, n_features)
        Samples.

    Returns
    -------
    C : array, shape [n_samples]
        Predicted class label per sample.

In [16]:
log_reg.predict_proba(test_case)[0]

array([0.02485552, 0.97514448])

In [17]:
# What's the math?
log_reg.coef_

array([[-0.0455017 , -0.02912513,  0.0048037 ]])

In [18]:
log_reg.intercept_

array([1.45878264])

In [0]:
# The logistic sigmoid "squishing" function, implemented to accept numpy arrays
def sigmoid(x):
  return 1 / (1 + np.e**(-x))

In [20]:
sigmoid(log_reg.intercept_ + np.dot(log_reg.coef_, np.transpose(test_case)))

array([[0.97514448]])

So, clearly a more appropriate model in this situation! For more on the math, [see this Wikipedia example](https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study).

For live - let's tackle [another classification dataset on absenteeism](http://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work) - it has 21 classes, but remember, scikit-learn LogisticRegression automatically handles more than two classes. How? By essentially treating each label as different (1) from some base class (0).

In [21]:
# Live - let's try absenteeism!
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
!unzip Absenteeism_at_work_AAA.zip

--2019-01-23 21:32:13--  http://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66136 (65K) [application/zip]
Saving to: â€˜Absenteeism_at_work_AAA.zipâ€™

Absenteeism_at_work 100%[===================>]  64.59K   179KB/s    in 0.4s

2019-01-23 21:32:14 (179 KB/s) - â€˜Absenteeism_at_work_AAA.zipâ€™ saved [66136/66136]

Archive:  Absenteeism_at_work_AAA.zip
  inflating: Absenteeism_at_work.arff
  inflating: Absenteeism_at_work.csv
  inflating: Absenteeism_at_work.xls
  inflating: Attribute Information.docx
  inflating: UCI_ABS_TEXT.docx

In [22]:
!head Absenteeism_at_work.csv

ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours
11;26;7;3;1;289;36;13;33;239.554;97;0;1;2;1;0;1;90;172;30;4
36;0;7;3;1;118;13;18;50;239.554;97;1;1;1;1;0;0;98;178;31;0
3;23;7;4;1;179;51;18;38;239.554;97;0;1;0;1;0;0;89;170;31;2
7;7;7;5;1;279;5;14;39;239.554;97;0;1;2;1;1;0;68;168;24;4
11;23;7;5;1;289;36;13;33;239.554;97;0;1;2;1;0;1;90;172;30;2
3;23;7;6;1;179;51;18;38;239.554;97;0;1;0;1;0;0;89;170;31;2
10;22;7;6;1;361;52;3;28;239.554;97;0;1;1;1;0;4;80;172;27;8
20;23;7;6;1;260;50;11;36;239.554;97;0;1;4;1;0;0;65;168;23;4
14;19;7;2;1;155;12;14;34;239.554;97;0;1;2;1;0;0;95;196;25;40

In [23]:
absent_df = pd.read_table('Absenteeism_at_work.csv', sep=';')
absent_df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [24]:
absent_df.shape

(740, 21)

In [25]:
LogisticRegression

sklearn.linear_model.logistic.LogisticRegression

In [26]:
absent_df.columns

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [27]:
X = absent_df.drop('Reason for absence', axis='columns')
y = absent_df['Reason for absence']

absent_log1 = LogisticRegression().fit(X, y)
absent_log1.score(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.5013513513513513

In [28]:
absent_log1

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [29]:
absent_log1.coef_

array([[-1.27508146e-02, -2.20793886e-01, -4.08404457e-02,
         4.22616389e-01,  7.64613632e-03, -6.18658809e-03,
        -3.11523480e-02,  5.52309565e-02, -1.01707258e-02,
        -1.14781041e-01,  2.51984519e+00,  1.41303285e-02,
         3.56702636e-01,  2.27778616e-01,  1.80478520e-01,
         1.33441356e-01, -9.82098540e-03,  5.23702470e-02,
         7.24744784e-02, -3.15221513e+00],
       [ 5.11128074e-02,  1.77166203e-01, -5.01201750e-01,
        -9.34413067e-02,  8.70070989e-03,  2.90683453e-02,
        -8.19496921e-02,  1.30910624e-01,  3.69193210e-03,
         3.58478924e-02, -7.77198534e-01,  9.21419989e-01,
         2.74046853e-01, -6.53744541e-01, -2.74959514e-01,
        -4.46143318e-01,  1.88638790e-01, -7.60409657e-02,
        -6.85430554e-01,  4.55734002e-03],
       [ 1.74477093e-01,  5.91768593e-01,  4.46355493e-02,
         4.29016838e-01,  5.97802716e-02, -2.02281583e-01,
        -4.44906133e-01, -2.65239556e-01,  8.55486140e-03,
        -4.07755000e-01, -6.70334842e-02,  5.15111418e-02,
        -1.41925514e-01, -5.24034227e-02, -1.81927726e-05,
        -2.16066314e-02,  2.57084168e-01, -2.44962459e-02,
        -7.13783256e-02,  1.06021271e-01],
       [-1.69881727e-01, -8.44450958e-01,  6.19523476e-02,
        -1.61054588e-01,  4.52164851e-02,  3.55299322e-02,
        -6.77983067e-02,  2.11118404e-01,  5.44242972e-02,
         7.88588029e-01, -4.63390739e-02, -2.63965509e-02,
        -3.45042003e-01,  1.42942572e-01, -1.54662581e-01,
         1.35939985e-02, -1.24836203e-01, -5.92970783e-01,
        -1.72013469e-01,  4.40793881e-03],
       [ 1.83780974e-01,  7.31554736e-01,  3.91442653e-01,
         5.08895583e-01,  3.77336010e-02, -3.89834723e-02,
         7.12291057e-01,  1.64426586e-01, -1.13810188e-01,
        -1.64211033e-01, -1.98910328e-02, -5.31845649e-03,
        -2.58062208e-01,  2.72682295e-02, -1.67349920e-02,
        -2.87139797e-02, -1.51679044e-01,  7.80309754e-02,
        -1.42363122e-01, -2.01612569e-02],
       [ 7.04063336e-02,  2.11408701e-01,  2.23255455e-01,
        -7.45821946e-01, -9.91939922e-02,  1.41823442e-01,
         1.09474641e-02,  7.76611644e-03, -1.06518269e-02,
         4.81608748e-01, -2.06899549e-01, -4.45706524e-03,
        -1.35055265e-02,  3.19208662e-03, -7.23070476e-03,
        -5.45246241e-02,  9.39910421e-02, -2.82366098e-01,
         1.41814947e-02, -6.79811734e-04],
       [-8.42882248e-02,  2.17399790e-01, -4.71395895e-02,
        -2.18225939e-01, -5.54814266e-03,  3.86327179e-03,
        -1.38372072e-01,  6.63390618e-02,  1.27387796e-02,
         1.33099263e-02, -2.38374203e-01, -5.44938925e-01,
        -8.80863218e-02, -7.57229052e-01, -4.29442790e-01,
        -2.32952216e-01,  3.15598650e-02, -1.62672159e-02,
        -2.57010971e-01,  1.58058960e-02],
       [-3.37240307e-02, -1.68791836e-01, -3.19627377e-01,
         3.19621545e-01,  3.99691490e-03, -6.94117906e-02,
         7.42788604e-02, -1.31141158e-01, -5.40787168e-03,
        -1.21514773e-01, -5.77294286e-01, -3.92062815e-01,
        -3.94696367e-01, -4.84826642e-02,  5.70942851e-01,
         2.34822717e-01, -1.87264192e-01,  1.11182626e-01,
         4.39039591e-01,  1.18442533e-02],
       [-1.52890145e-02,  1.34160539e-01, -2.68668138e-02,
        -3.03449473e-01, -1.54486500e-02, -2.92343775e-02,
        -2.21214265e-01,  5.13873714e-02,  6.31148147e-03,
         2.07997366e-01, -2.00032667e-01, -1.05905506e-01,
         2.77343241e-01, -2.64607525e-01,  1.02252995e+00,
        -2.62287327e-02,  2.15634289e-02, -1.19350757e-01,
        -1.01798510e-01, -1.66761338e-02],
       [ 5.75018264e-01,  5.09534512e-01, -3.92651921e-01,
        -2.75818970e-01,  2.40533615e-02, -2.18839470e-01,
         3.66251862e-01, -1.60089619e-01,  7.13062388e-03,
        -4.53937308e-01, -7.08219088e-02, -3.54562939e-01,
        -2.82846068e-01,  2.79403734e-02, -1.44116365e-02,
         1.46175274e-02, -3.41713868e-01,  1.92956969e-01,
         3.59020847e-01,  6.90097771e-02],
       [ 5.04483159e-02, -1.16477523e-01, -1.69481385e-02,
         5.92928522e-01,  1.09404775e-02, -2.06467138e-02,
         1.61108670e-01, -1.07214716e-01, -4.08168647e-03,
        -2.31116715e-02, -8.54253971e-01, -6.08813066e-01,
        -2.58151394e-01, -2.85664291e-01, -7.14286081e-02,
        -7.28868576e-01,  4.80687424e-02, -1.99856363e-03,
        -1.46178728e-01,  1.16584825e-02],
       [-2.97610409e-02,  9.15539072e-02, -2.99996417e-01,
        -3.07535039e-01, -4.92384520e-04,  1.33210905e-02,
         2.20500132e-03, -5.90665531e-02,  1.26055987e-02,
         4.80909316e-02, -5.35899100e-01, -4.46511693e-01,
        -2.77035861e-01, -1.16966953e+00,  7.19238702e-01,
        -4.59861613e-01,  3.88798078e-02, -3.75368172e-02,
        -1.07969075e-01,  1.84930548e-02],
       [-1.05983103e-01, -2.16764782e-01, -3.94022188e-02,
         7.94637049e-01, -8.59232204e-03,  2.47513424e-03,
        -7.05917561e-02,  3.95855272e-02,  1.47883644e-02,
         3.86601298e-02, -1.27340783e-01, -2.28098236e-01,
        -4.23579093e-01,  6.14334924e-02, -4.33786104e-01,
         1.98405525e-01,  1.71213262e-02, -1.18506873e-02,
        -3.75194471e-01,  3.31665449e-02],
       [ 1.12498834e-02, -1.78874921e-03, -1.65202497e-02,
         7.09078517e-02, -2.27397979e-03,  2.32781179e-03,
         1.35937080e-02, -3.65682039e-02,  1.42158432e-02,
         3.28995220e-02, -7.94795767e-01,  8.12516439e-01,
        -3.00928389e-02,  7.64696084e-01, -6.57624133e-01,
        -1.97074765e-01,  2.19265551e-02, -6.66325680e-02,
        -1.18256073e-02,  3.19607344e-02],
       [ 5.62518621e-02,  1.01654541e-01,  1.77171581e-01,
         1.13037505e-01,  1.46224193e-02, -7.01103729e-02,
         8.31078902e-02,  6.83676776e-02,  7.12699082e-03,
         6.12452226e-02, -9.41412574e-01,  3.46322885e-01,
        -1.21468342e-01,  1.19091780e+00,  4.25379359e-01,
         4.43609497e-01,  4.51739796e-02, -1.29755553e-01,
        -9.02217432e-02,  6.71870581e-03],
       [ 1.84521478e-01,  3.86193433e-01, -1.87854241e-01,
        -1.27529528e-01,  2.13230662e-02,  1.22112049e-02,
        -4.47304051e-02,  1.75010429e-01, -1.94078541e-02,
        -8.99735013e-03, -1.78650095e-01, -4.99872479e-02,
         6.74743092e-01,  4.96668163e-01,  5.00348745e-01,
        -3.64280825e-01,  1.12928216e-01, -7.62745243e-02,
        -5.86126282e-01,  9.94713371e-03],
       [ 1.06247032e-01, -5.20495832e-01, -6.22614053e-02,
         6.98781468e-01,  9.76195918e-03, -2.09340879e-01,
         5.19889937e-01, -8.74683858e-02, -7.65976483e-02,
        -4.05200412e-01, -2.18028874e-01,  7.51846864e-01,
         2.89353958e-01, -6.91643849e-01,  6.26132656e-01,
        -1.69665214e-01, -3.95108063e-01,  3.60806107e-01,
         6.69244223e-01, -6.15457594e-01],
       [-2.86884861e-01, -5.67612515e-02, -5.93624985e-01,
        -8.34025706e-02, -1.21245469e-01, -1.20706278e-01,
         3.50568701e-01,  3.32060989e-01,  1.65589878e-01,
         6.57168420e-02, -1.03712839e-02,  2.98985013e-03,
         1.24055948e-01, -3.94150507e-02,  6.92014562e-02,
        -4.56963351e-04, -4.56244665e-01, -1.12868288e-01,
        -8.86862035e-02, -1.41642309e-01],
       [-7.90035713e-02,  8.09459874e-02, -1.86814503e-01,
        -3.02904216e-01, -6.33591226e-03,  6.04925938e-04,
        -7.84788997e-02,  5.27267823e-02,  2.71993834e-03,
         6.47177640e-02, -5.76539525e-01, -6.41400355e-02,
         1.41865324e-01, -8.30185872e-01,  6.44027836e-01,
         1.07152681e-01,  1.04703690e-01, -3.72436695e-02,
        -3.59798019e-01, -2.95293262e-04],
       [ 6.12069038e-02, -1.80961205e-02, -4.80318927e-02,
        -1.75964312e-01, -1.24174652e-03,  2.21904656e-03,
        -6.17279417e-02, -5.32781546e-02,  4.63239783e-03,
         3.01581791e-02, -6.92767157e-01,  1.70115064e-01,
         3.62174543e-01,  9.98809826e-01,  7.46336111e-01,
         2.54316422e-01,  7.42197268e-02, -5.70889646e-02,
        -9.53177755e-02,  3.04071943e-02],
       [-1.74672440e-01,  3.19491894e-01, -8.57553356e-02,
        -3.05458844e-01, -1.77205144e-02, -1.63858239e-02,
         3.23234003e-01, -7.92499420e-02,  7.69493536e-03,
         1.00445060e-01, -6.19208630e-02,  7.43829483e-01,
        -7.96888097e-02, -3.12512114e-01,  2.07633034e-01,
        -3.34770785e-01, -1.01674494e-01, -3.02625905e-02,
        -3.82375061e-02, -5.10733404e-03],
       [-9.80484015e-02, -1.00278455e-01,  1.67305318e-01,
        -1.31903754e-01,  1.89850754e-02,  2.06805230e-03,
         1.95533930e-01, -1.57951935e-01, -1.16243373e-03,
         3.80453762e-02, -1.29684368e+00,  5.65308694e-01,
         6.17877294e-01, -4.35589293e-01, -2.08999630e-01,
         6.26786629e-01,  3.23867233e-02, -4.58915543e-02,
        -1.22674044e-01, -2.89066139e-03],
       [ 5.07207631e-03,  1.58217883e-01,  4.18639670e-02,
        -1.54826825e-01,  8.82835854e-04, -2.02132218e-02,
         5.92864753e-02, -6.64508536e-02, -4.06186569e-03,
        -9.37570381e-03, -2.55774235e+00, -3.46414904e-01,
         1.36592621e-01, -4.68137520e-01, -8.86135372e-01,
         5.08599916e-02, -1.48494527e-02,  1.79478220e-02,
         6.25572296e-02, -2.98509878e-01],
       [-8.41296172e-02,  3.64246718e-01, -2.55763703e-01,
         4.63999101e-01,  2.95461950e-02,  7.30725734e-03,
         4.77517209e-01, -8.24881931e-01, -3.64754517e-02,
        -1.44633418e-01, -2.99785538e-01, -6.06811918e-02,
         3.84547555e-01,  8.41854114e-02, -1.06029785e-04,
        -1.99492535e-01,  3.80203996e-01, -2.67351464e-02,
        -1.86038658e-02, -2.78193426e-03],
       [-1.11684073e-02, -5.34617077e-02, -9.84506499e-02,
        -6.39971969e-01, -7.26554333e-04, -2.86895477e-02,
         5.96496997e-02, -3.51258306e-02, -1.85043657e-02,
         7.56939734e-02, -6.99307465e-01, -1.11805242e-01,
         2.94221761e-01, -1.56689664e+00,  7.48253269e-01,
         1.36521499e-02,  3.97379111e-02,  5.94002547e-03,
        -1.80687012e-01, -1.58155107e-01],
       [ 1.76384151e-02,  1.69587500e-01,  2.46492596e-02,
        -2.56664166e-01,  7.87561769e-03, -2.74964087e-02,
        -1.07142576e-01, -4.71203432e-02,  7.49380408e-03,
         1.58293697e-01, -1.32780077e+00,  1.87541548e-01,
         4.28454686e-01,  5.48545450e-01, -4.50306904e-01,
        -1.06056869e+00,  1.31272294e-01, -1.65267423e-01,
        -6.94878570e-02, -1.02896575e-02],
       [ 9.02239854e-02, -9.29018648e-01,  4.01504858e-01,
         5.55322655e-01, -5.20017696e-02, -3.80517365e-02,
         9.91795452e-01, -8.84509000e-01, -2.50834384e-02,
        -1.06262380e-01, -6.50206377e-01,  1.16269735e+00,
        -1.21191641e+00, -2.34255920e-01, -4.92389133e-01,
        -2.92283893e-01, -3.19796361e-01,  2.05008156e-01,
         1.23111630e+00, -5.87540662e-01],
       [ 2.51254771e-02,  3.40490833e-02, -3.75796518e-02,
         1.19082494e-01, -6.95693168e-04,  2.84061173e-02,
        -1.00081927e-03,  3.16005988e-02,  1.01046551e-04,
        -4.81954645e-02, -2.55794076e+00, -1.09979507e+00,
        -1.24500798e-02,  1.00415917e+00, -5.18394783e-01,
        -2.43601117e-01, -3.23909881e-02,  3.53861893e-02,
        -5.72873722e-02, -2.57643190e-01]])

In [30]:
absent_log1.predict(X)

array([23,  0, 23, 25, 23, 23, 22, 28, 18, 25, 28, 28, 28, 23, 23, 28, 23,
       11, 23, 23, 23, 23, 22, 28, 24, 22, 23, 28, 23, 23, 28, 18, 23, 18,
       23, 23, 23, 28, 18, 28, 23, 23, 23, 26, 23, 23, 23, 23, 28, 13,  0,
        0, 23, 23,  0,  0, 23, 28,  0, 23, 28, 28, 28, 23,  0, 23, 28, 23,
       23, 23, 23, 28, 28, 23, 19, 28, 23, 24, 23, 28, 28, 23, 13, 21, 28,
       10, 23, 13, 23, 23, 23, 21, 23, 28, 23, 23, 13, 28, 23, 13, 23, 23,
       23, 28, 13, 22, 23, 28, 23, 22, 23, 28, 23, 23, 27, 27, 18, 23, 27,
       23, 27, 27, 23, 27, 27, 27, 27, 27, 27, 13, 22, 27, 27, 27, 27, 23,
       22, 27, 28, 13, 23, 22, 28, 22,  1,  1, 23, 23, 27, 11, 23, 11, 23,
       23, 22, 28, 28, 28, 17, 13, 28, 13, 23, 13, 11, 18, 13, 18, 22, 17,
       28, 23,  7, 13, 23, 13, 13, 13, 13, 28, 14, 23, 23, 23, 28, 23, 28,
       13, 23, 23, 28, 13, 28, 28, 28, 28, 14, 13, 13, 10, 22, 13, 22,  0,
       13, 28, 28, 13, 13, 28, 28, 28, 13,  0,  0,  0,  0, 28, 13, 22, 13,
       22, 13, 28, 13, 13, 28, 13, 13, 13, 28, 13, 22, 28, 23, 23, 18,  5,
        5, 23, 26, 13, 23,  1, 26, 28, 22, 26, 13, 19, 26,  0, 22, 28, 23,
       18, 28, 28, 28, 23, 23, 23, 23, 23, 23, 23, 23, 22, 22, 11, 28, 28,
       19,  0,  9, 28,  0,  0, 28,  9, 28, 28, 28, 26, 28,  0, 28,  7, 28,
       24, 23, 24, 23,  0,  0,  1, 23, 10, 28, 13,  0, 24, 28,  0, 26, 26,
       28, 28, 13, 28, 22,  0,  0,  0, 23, 23, 28, 23, 23, 13, 28, 28, 22,
       13, 26,  0, 23, 23, 23, 28, 28, 28, 28, 28, 28, 28,  0,  0, 28, 23,
       28, 28, 23, 28, 28,  4, 23, 23, 23, 23, 23, 23, 26, 23, 28, 28, 23,
       24, 23, 13, 28, 22, 28, 22,  3, 26, 28, 27, 27, 27, 27, 23, 22, 28,
       27, 27, 27, 27, 28, 27, 22, 27, 28, 28, 19, 27, 27, 10, 27, 27, 25,
       10, 28, 28, 27, 22, 25, 22, 13, 22,  0, 22, 28, 28, 19,  0,  0,  0,
       27, 22, 28, 28, 27, 28, 23, 22, 23, 10, 13, 28, 19, 14, 28, 27, 27,
       26, 23, 22, 27, 28, 22, 28, 25, 25, 18, 23, 10, 23, 23, 22, 27, 23,
       28, 23, 23, 28,  0, 13, 13, 28, 28, 26, 28, 23, 23, 13, 23, 28, 23,
       22, 23, 23, 28, 25, 23, 23, 28, 23, 19, 18, 28,  9, 23, 23, 22, 23,
       26, 28, 23, 23, 23, 25, 28, 23, 23, 26, 28, 28, 25, 26, 23, 28, 23,
       23, 28, 28, 28, 23, 23, 28, 23, 23, 28, 23, 23, 10, 22, 23, 23, 28,
       23, 28, 23, 23, 28, 23, 22, 23, 23, 22, 28, 28, 28, 22, 23, 22, 23,
       23,  1, 23,  0, 23, 28, 23,  2, 28, 23, 23, 13, 23, 22, 28, 23, 23,
       28, 23, 23, 23,  0,  0, 23,  0, 23, 22, 23, 13, 28, 23, 23, 23, 23,
       22, 23, 26, 19, 13, 23, 23, 23, 19, 13, 13, 25, 25, 27, 25, 14, 25,
       27, 18, 27, 27, 22, 27, 27, 13, 23, 19, 27, 23, 27, 27, 19, 27, 22,
       27, 23, 27, 27, 23, 27, 25, 27, 22, 27, 27, 27, 27, 25, 23, 27, 23,
       27, 23, 23, 27, 27, 27, 27, 23, 25, 23, 12, 27, 23, 27, 23, 27, 25,
       22, 27, 27, 27, 27, 27, 23, 27, 25, 27, 22, 25, 27, 23, 27, 27, 27,
       27, 27, 10, 27, 27, 27, 19, 22,  7, 10, 22, 23, 22, 27, 22, 16, 28,
       22, 27, 22, 27,  7, 16, 27, 28, 23, 28, 27, 22, 19, 23, 23, 26, 27,
       28, 14, 19, 14, 27, 28, 28, 23,  0, 27,  0, 25, 10, 13, 28, 25, 23,
       10, 23, 28, 27, 22, 23, 25, 23, 23, 21, 23, 23, 23, 22, 19, 22, 23,
        0,  0, 28, 23, 28, 23, 23, 22, 23, 23, 22, 26, 22, 18, 23,  6, 18,
       23, 22, 23, 19, 26, 23,  0,  0,  0])

In [31]:
absent_log1.predict_proba(X)[0]

array([2.69982649e-06, 6.91615398e-03, 8.57701135e-09, 5.16203311e-08,
       2.18856804e-07, 5.92457902e-08, 2.75125708e-03, 4.07323392e-03,
       1.96525568e-03, 1.28991052e-10, 1.04724148e-02, 2.54302198e-02,
       9.93451673e-05, 3.60953076e-02, 1.02877921e-02, 1.48667629e-04,
       1.20483308e-07, 4.78991713e-21, 2.50188861e-02, 8.82617162e-02,
       2.20255602e-04, 1.37766587e-01, 3.10018914e-01, 1.68568210e-02,
       5.54127149e-02, 1.77084959e-01, 1.38810366e-06, 9.11149514e-02])

In [0]:
?LogisticRegression

## Assignment - real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

In [33]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-01-23 21:40:08--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: â€˜fma_metadata.zipâ€™

fma_metadata.zip    100%[===================>] 341.81M  25.8MB/s    in 14s

2019-01-23 21:40:23 (24.4 MB/s) - â€˜fma_metadata.zipâ€™ saved [358412441/358412441]

Archive:  fma_metadata.zip
 bunzipping: fma_metadata/README.txt
 bunzipping: fma_metadata/checksums
 bunzipping: fma_metadata/not_found.pickle
 bunzipping: fma_metadata/raw_genres.csv
 bunzipping: fma_metadata/raw_albums.csv
 bunzipping: fma_metadata/raw_artists.csv
 bunzipping: fma_metadata/raw_tracks.csv
 bunzipping: fma_metadata/tracks.csv
 bunzipping: fma_metadata/genres.csv
 bunzipping: fma_metadata/raw_echonest.csv
 bunzipping: fma_metadata/echonest.csv
 bunzipping: fma_metadata/features.csv

In [57]:
# Thanks A!
tracks = pd.read_csv('fma_metadata/tracks.csv', header=[0,1])
tracks.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Unnamed: 0_level_0    album                                            \
  Unnamed: 0_level_1 comments         date_created        date_released
0           track_id      NaN                  NaN                  NaN
1                  2      0.0  2008-11-26 01:44:45  2009-01-05 00:00:00
2                  3      0.0  2008-11-26 01:44:45  2009-01-05 00:00:00
3                  5      0.0  2008-11-26 01:44:45  2009-01-05 00:00:00
4                 10      0.0  2008-11-26 01:45:08  2008-02-06 00:00:00

                                                              \
  engineer favorites   id information  listens producer tags
0      NaN       NaN  NaN         NaN      NaN      NaN  NaN
1      NaN       4.0  1.0     <p></p>   6073.0      NaN   []
2      NaN       4.0  1.0     <p></p>   6073.0      NaN   []
3      NaN       4.0  1.0     <p></p>   6073.0      NaN   []
4      NaN       4.0  6.0         NaN  47632.0      NaN   []

                                                    artist                  \
                  title tracks   type    active_year_begin active_year_end
0                   NaN    NaN    NaN                  NaN             NaN
1  AWOL - A Way Of Life    7.0  Album  2006-01-01 00:00:00             NaN
2  AWOL - A Way Of Life    7.0  Album  2006-01-01 00:00:00             NaN
3  AWOL - A Way Of Life    7.0  Album  2006-01-01 00:00:00             NaN
4     Constant Hitmaker    2.0  Album                  NaN             NaN

                                                      \
                                   associated_labels
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  Mexican Summer, Richie Records, Woodsist, Skul...

                                                               \
                                                 bio comments
0                                                NaN      NaN
1  <p>A Way Of Life, A Collective of Hip-Hop from...      0.0
2  <p>A Way Of Life, A Collective of Hip-Hop from...      0.0
3  <p>A Way Of Life, A Collective of Hip-Hop from...      0.0
4  <p><span style="font-family:Verdana, Geneva, A...      3.0

                                                                         \
          date_created favorites   id   latitude    location  longitude
0                  NaN       NaN  NaN        NaN         NaN        NaN
1  2008-11-26 01:42:32       9.0  1.0  40.058324  New Jersey -74.405661
2  2008-11-26 01:42:32       9.0  1.0  40.058324  New Jersey -74.405661
3  2008-11-26 01:42:32       9.0  1.0  40.058324  New Jersey -74.405661
4  2008-11-26 01:42:55      74.0  6.0        NaN         NaN        NaN

                                                                 \
                                             members       name
0                                                NaN        NaN
1  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...       AWOL
2  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...       AWOL
3  Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...       AWOL
4                           Kurt Vile, the Violators  Kurt Vile

                                                                               \
                                    related_projects                     tags
0                                                NaN                      NaN
1  The list of past projects is 2 long but every1...                 ['awol']
2  The list of past projects is 2 long but every1...                 ['awol']
3  The list of past projects is 2 long but every1...                 ['awol']
4                                                NaN  ['philly', 'kurt vile']

                                                                set          \
                                   website wikipedia_page     split  subset
0                                      NaN            NaN       NaN     NaN
1  http://www.AzillionRecords.blogspot.com            NaN  training   small
2  http://www.AzillionRecords.blogspot.com            NaN  training  medium
3  http://www.AzillionRecords.blogspot.com            NaN  training   small
4                      http://kurtvile.com            NaN  training   small

      track                                                                \
   bit_rate comments   composer         date_created        date_recorded
0       NaN      NaN        NaN                  NaN                  NaN
1  256000.0      0.0        NaN  2008-11-26 01:48:12  2008-11-26 00:00:00
2  256000.0      0.0        NaN  2008-11-26 01:48:14  2008-11-26 00:00:00
3  256000.0      0.0        NaN  2008-11-26 01:48:20  2008-11-26 00:00:00
4  192000.0      0.0  Kurt Vile  2008-11-25 17:49:06  2008-11-26 00:00:00

                                                                       \
  duration favorites genre_top genres genres_all information interest
0      NaN       NaN       NaN    NaN        NaN         NaN      NaN
1    168.0       2.0   Hip-Hop   [21]       [21]         NaN   4656.0
2    237.0       1.0   Hip-Hop   [21]       [21]         NaN   1470.0
3    206.0       6.0   Hip-Hop   [21]       [21]         NaN   1933.0
4    161.0     178.0       Pop   [10]       [10]         NaN  54881.0

                                                                             \
  language_code                                            license  listens
0           NaN                                                NaN      NaN
1            en  Attribution-NonCommercial-ShareAlike 3.0 Inter...   1293.0
2            en  Attribution-NonCommercial-ShareAlike 3.0 Inter...    514.0
3            en  Attribution-NonCommercial-ShareAlike 3.0 Inter...   1151.0
4            en  Attribution-NonCommercial-NoDerivatives (aka M...  50135.0


  lyricist number publisher tags         title
0      NaN    NaN       NaN  NaN           NaN
1      NaN    3.0       NaN   []          Food
2      NaN    4.0       NaN   []  Electric Ave
3      NaN    6.0       NaN   []    This World
4      NaN    1.0       NaN   []       Freeway

In [0]:
# Maybe it'd be handy to sample so we have less data so things run faster
tracks = tracks.sample(2000, random_state=42)

In [37]:
tracks.describe()

             album                                                       \
          comments    favorites           id       listens       tracks
count  2000.000000  2000.000000   2000.00000  2.000000e+03  2000.000000
mean      0.443500     1.285500  12850.28600  3.739742e+04    19.552500
std       2.884262     3.086868   6219.58821  1.964804e+05    35.496877
min      -1.000000    -1.000000     -1.00000 -1.000000e+00    -1.000000
25%       0.000000     0.000000   7895.00000  3.309250e+03     7.000000
50%       0.000000     0.000000  13370.00000  8.911500e+03    11.000000
75%       0.000000     1.000000  18232.75000  2.463975e+04    18.000000
max      53.000000    55.000000  22905.00000  3.564243e+06   652.000000

            artist                                                     \
          comments    favorites            id    latitude   longitude
count  2000.000000  2000.000000   2000.000000  836.000000  836.000000
mean      2.218000    33.792500  12022.082000   38.662066  -34.336361
std       7.181244   113.006777   6791.986517   20.769404   69.277985
min      -1.000000    -1.000000      4.000000  -45.878760 -123.114034
25%       0.000000     1.000000   6567.500000   39.243541  -80.289438
50%       0.000000     5.000000  12038.500000   41.846417  -72.713299
75%       1.000000    16.250000  17690.000000   48.938791    5.369780
max      79.000000   951.000000  24296.000000   64.963051  174.885971

               track                                                       \
            bit_rate     comments     duration    favorites      interest
count    2000.000000  2000.000000  2000.000000  2000.000000  2.000000e+03
mean   265349.416500     0.037000   282.718000     3.144000  4.299708e+03
std     66587.921464     0.371079   295.134104    16.531119  3.374043e+04
min        -1.000000     0.000000     1.000000     0.000000  7.000000e+00
25%    196496.000000     0.000000   152.000000     0.000000  5.847500e+02
50%    320000.000000     0.000000   220.000000     1.000000  1.247500e+03
75%    320000.000000     0.000000   308.000000     3.000000  3.099250e+03
max    320817.000000    11.000000  3710.000000   599.000000  1.314156e+06


             listens       number
count    2000.000000  2000.000000
mean     2567.795000     8.137000
std     12456.774413    13.616899
min         3.000000     0.000000
25%       264.000000     2.000000
50%       729.000000     5.000000
75%      2031.250000     9.000000
max    429168.000000   206.000000

In [55]:
pd.set_option('display.max_columns', None)  # Unlimited columns
tracks.sample(5)

            album                                                     \
         comments         date_created        date_released engineer
track_id
20834           0  2009-11-12 05:23:00                  NaN      NaN
61153           0  2012-02-27 02:18:54  2004-01-01 00:00:00      NaN
12869           0  2009-05-14 12:00:56  2007-01-12 00:00:00      NaN
61162           1  2012-02-27 14:29:42                  NaN      NaN
41741           0  2011-01-03 16:00:09  2010-07-03 00:00:00      NaN

                                                                              \
         favorites     id                                        information
track_id
20834            0   4661                                                NaN
61153            5  11170  <p>\n</p><p>Anarchist Christian group has shar...
12869            0   3083  <div class="album_page_description">\n<p>A Kur...
61162            0  11173                                                NaN
41741            0   8220  <p><span class="Apple-style-span" style="borde...

                                                                          \
         listens producer tags                              title tracks
track_id
20834       7840      NaN   []  Dark Cabinet of the Strange Weird     11
61153      54904      NaN   []                           us vs us     14
12869       3879      NaN   []                       Deer's Curse     13
61162      17348      NaN   []                    This Is America     19
41741       1721      NaN   []                   Telar Deslizante     12

                           artist                                    \
           type active_year_begin active_year_end associated_labels
track_id
20834     Album               NaN             NaN               NaN
61153     Album               NaN             NaN               NaN
12869     Album               NaN             NaN               NaN
61162     Album               NaN             NaN               NaN
41741     Album               NaN             NaN               NaN

                                                                      \
                                                        bio comments
track_id
20834                                                   NaN        0
61153     <p>Anarchist Christian group has shared the st...        0
12869     <p>He has composed music for over 80 theater p...        0
61162                                                   NaN        1
41741                                                   NaN        1

                                                           \
                 date_created favorites     id   latitude
track_id
20834     2009-11-12 05:23:05         2   5496        NaN
61153     2012-02-27 02:14:09        19  13065  39.952280
12869     2009-05-14 11:58:30         2   3459        NaN
61162     2011-10-24 12:15:26        38  12085  45.512280
41741     2011-01-03 16:02:21         2   9824 -37.020664

                                                  \
                             location  longitude
track_id
20834                             NaN        NaN
61153                    Philadelphia -75.162454
12869                             NaN        NaN
61162     Montreal, Quebec Bas-Canada -73.554390
41741                           Chile -87.946239

                                                             \
                                                    members
track_id
20834                                                   NaN
61153                                                   NaN
12869     Kostas Vomvolos (composer,arranger,accordion a...
61162                                                   NaN
41741                                                   NaN

                                                      \
                               name related_projects
track_id
20834     Ric Royer & G Lucas Crane              NaN
61153                      Psalters              NaN
12869               Kostas Vomvolos              NaN
61162             Alaclair Ensemble              NaN
41741                    Maifersoni              NaN

                                                                        \
                                 tags                          website
track_id
20834     ['ric royer g lucas crane']                              NaN
61153                    ['psalters']         http://www.psalters.org/
12869             ['kostas vomvolos']   http://www.kostasvomvolos.com/
61162           ['alaclair ensemble']             http://alaclair.com/
41741                  ['maifersoni']  http://maiferponi.blogspot.com/

                              set            track                    \
         wikipedia_page     split  subset bit_rate comments composer
track_id
20834               NaN  training   large   256000        0      NaN
61153               NaN  training   large   157595        0      NaN
12869               NaN  training   large   234038        0      NaN
61162               NaN  training  medium   320000        0      NaN
41741               NaN  training   large   320000        0      NaN

                                                                          \
                 date_created date_recorded duration favorites genre_top
track_id
20834     2009-11-12 05:19:59           NaN      139         1       NaN
61153     2012-02-27 02:14:38           NaN      161         2       NaN
12869     2009-05-14 12:06:58           NaN      175         2       NaN
61162     2012-02-27 09:25:18           NaN      139         0   Hip-Hop
41741     2011-01-03 15:56:55           NaN      141         1       NaN

                                                                         \
            genres        genres_all information interest language_code
track_id
20834     [1, 138]  [1, 138, 20, 38]         NaN      755            en
61153      [2, 38]           [2, 38]         NaN     4986           NaN
12869       [1, 2]        [1, 2, 38]         NaN      203            en
61162         [21]              [21]         NaN     1377           NaN
41741     [27, 76]  [10, 27, 12, 76]         NaN      260           NaN

                                                                              \
                                                    license listens lyricist
track_id
20834     Attribution-Noncommercial-Share Alike 3.0 Unit...     210      NaN
61153                                Public Domain Mark 1.0    4422      NaN
12869     Attribution-Noncommercial-No Derivative Works ...     136      NaN
61162              Attribution-ShareAlike 3.0 International     246      NaN
41741                   Attribution-NonCommercial 2.0 Chile     146      NaN


         number publisher tags                        title
track_id
20834        11       NaN   []  Return of the Summer People
61153        13       NaN   []            Home for Refugees
12869         3       NaN   []                 silver night
61162        15       NaN   []      RedWaNGs  (prod by Jam)
41741         2       NaN   []                       NÃ³made

In [52]:
tracks.dtypes

album   comments               int64
        date_created          object
        date_released         object
        engineer              object
        favorites              int64
        id                     int64
        information           object
        listens                int64
        producer              object
        tags                  object
        title                 object
        tracks                 int64
        type                  object
artist  active_year_begin     object
        active_year_end       object
        associated_labels     object
        bio                   object
        comments               int64
        date_created          object
        favorites              int64
        id                     int64
        latitude             float64
        location              object
        longitude            float64
        members               object
        name                  object
        related_projects      object
        tags                  object
        website               object
        wikipedia_page        object
set     split                 object
        subset                object
track   bit_rate               int64
        comments               int64
        composer              object
        date_created          object
        date_recorded         object
        duration               int64
        favorites              int64
        genre_top             object
        genres                object
        genres_all            object
        information           object
        interest               int64
        language_code         object
        license               object
        listens                int64
        lyricist              object
        number                 int64
        publisher             object
        tags                  object
        title                 object
dtype: object

In [39]:
pd.options.mode.use_inf_as_na = True
tracks.isna().sum()

album   comments                0
        date_created           65
        date_released         680
        engineer             1729
        favorites               0
        id                      0
        information           436
        listens                 0
        producer             1682
        tags                    0
        title                  22
        tracks                  0
        type                  112
artist  active_year_begin    1588
        active_year_end      1903
        associated_labels    1722
        bio                   678
        comments                0
        date_created           14
        favorites               0
        id                      0
        latitude             1164
        location              703
        longitude            1164
        members              1134
        name                    0
        related_projects     1751
        tags                    0
        website               544
        wikipedia_page       1888
set     split                   0
        subset                  0
track   bit_rate                0
        comments                0
        composer             1935
        date_created            0
        date_recorded        1888
        duration                0
        favorites               0
        genre_top            1102
        genres                  0
        genres_all              0
        information          1956
        interest                0
        language_code        1740
        license                 2
        listens                 0
        lyricist             1995
        number                  0
        publisher            1974
        tags                    0
        title                   0
dtype: int64

In [42]:


# Another approach, restrict columns by type
# Shreyas
numeric = ['int32', 'int64', 'float16', 'float32', 'float64']
tracks_num = tracks.select_dtypes(include=numeric).copy()
tracks.select_dtypes('number')
tracks._get_numeric_data()  # "inner" method shorthand

# Another thing you can do - sample! See above where data loaded

            album                                   artist                   \
         comments favorites     id listens tracks comments favorites     id
track_id
43742          -1        -1   8578      -1     -1        4        82   8390
31941           0         1   6655   19141     14        1        15   7888
50985           3        10   9619  458874     20       32       431  11431
146981          0         0  21917   19158     11        4       110  15891
20461           0         1   4611    3139      5        1         6   5443
66124           0         1  11883    4642     11        0         8   1905
54231           1         3  10138   39825      9        0         8  11955
37272           4         6   7507   76096    154        0         0   8925
91061           0         1  15083    4492      8        0         3  17017
89882           0         2  14966   10262     16        0         0  16908
25727           0         1   5581    2660     22        0         5   6572
79535           0         1  13655    4514      9       12        86  10341
61870           1         1  11237   13949     18        1         8  13173
98602          -1        -1  15950      -1     -1        1         9  15196
63234           0         0  11461   22620     11        0         5  13343
35827           0         0   7341    5380     32        0         1   8632
21207           1         0   4721    3706      8        0         0   5562
129525          0         0  19497     796     44        0         0  21284
81654           0        11  13930  271279     25       29       784   7168
1237            1         1    326    7559     13        0        21    219
139988          0         3  21067   78615     19        2        26  22407
106698          0         1  16623    1809      5        0         6   3226
145495          0         1  21739   47905     21        0         1  19527
115820         -1        -1  17807      -1     -1        1         8  17402
85758           0         0  14455    7089      5        0         4  11577
99511           0         1  16075   10650     13        1         4  12932
126854          0         0  19177    9322     12        0         1  21038
66875           0         4  11990   23405     42        3         9  13912
43486           4         7   8533  121412     18        0         0  10160
154883          0         0  22859    4919     15        4       110  15891
...           ...       ...    ...     ...    ...      ...       ...    ...
155115          1         0  22905   11141     10       55       861  16852
79796           0         0  13698    6824      2        7        11   4634
84591           0         3  14291   20640     27        0         0  16322
1093            0         0    299    2453     10        1         2    202
113215          0         0  17448   32079     14        0         5  19030
37739           0         1   7536    1877     16        0         4   8990
147590          0         2  22003   27143     88        0         0  23440
89781           1         0  14959   11188     37        1         7   1640
26957          -1        -1   5830      -1     -1        0        23    966
29588           0         0   6312    3938      9        0         0   7368
90902           0         0  15052    5588     12        0         1  17011
49813           0         0   9460   18770      7        0         0  11298
136274          0         0  20468    6201      3        0         0   4368
87968           0         0  14793    6530     10        0         0  16824
31554           0         1   6607     205      3        1         3   2194
70166           0         0  12468    5258     12        0         4   5144
108255          0         0  16838   12129     16        1        10  13625
36584           2         3   7456   44437     19        0        16   8732
17204           0         0   3891   37017    110        0         9   1975
119654          0         1  18264    8365     38        0         3   1843
3628            0         1   1704    2633      0        1         4    742
82162           0         0  13969    5950     15        0        12   9680
113684          0         0  17522  111545     17       15       199    129
112948          0         0  17412    6356      9        0         9  16607
89841           0         0  14962   18707     13        0         2  16894
82299           0         0  13980   68379     19        0         5  15984
26338           0         0   5715    2183     14        0         2   6693
149626          0         0  22310   10438      9        0         0  23687
148119          0         1  22086  121902     26        2        10  23539
113583          0         0  17506    2660      1        0         3  16295

                                   track                                       \
           latitude   longitude bit_rate comments duration favorites interest
track_id
43742     39.263517  -76.623942   160000        0      325         2     2629
31941     46.211401    2.209360   320000        0      168         2     2105
50985     40.692455  -73.990364   267146        0      174        26    31224
146981    58.007359   56.228149   320000        0      308         0     3491
20461     41.871940   12.567380   171259        0       86         0      722
66124     45.508670  -73.553993   256000        0      187         1     3155
54231     53.273880   -9.048350   320000        0       68         5     5865
37272           NaN         NaN   320000        0      302         1     1109
91061           NaN         NaN   128000        0      263         1      849
89882           NaN         NaN   320000        0      226         0      908
25727           NaN         NaN   252569        0      118         0      641
79535     27.761020  -83.832764   218055        0       86         0     1070
61870     40.692455  -73.990364   128000        0      221         6     9289
98602           NaN         NaN   320000        0      220         2     5069
63234     45.262321  -69.012493   320000        0      174         5     3962
35827           NaN         NaN   320000        0      103         1      297
21207           NaN         NaN   128000        0      280         0     2572
129525          NaN         NaN   320000        0      152         1      118
81654     45.523452 -122.676207   320000        0      248         4     8656
1237      41.823989  -71.412834   128000        0       29         1      584
139988          NaN         NaN   320000        0       44         1     7260
106698          NaN         NaN   320000        0      206         1      447
145495          NaN         NaN   320000        0      346         0     1529
115820          NaN         NaN   128000        0      270         1     3207
85758           NaN         NaN   320000        0      148         0     2702
99511     34.053490 -118.245319   320000        0      340         1      735
126854          NaN         NaN   320000        0      293         0      627
66875           NaN         NaN   183164        0      213         2     1836
43486           NaN         NaN   320000        0      251         5     6285
154883    58.007359   56.228149   320000        0      335         1      249
...             ...         ...      ...      ...      ...       ...      ...
155115          NaN         NaN   320000        0      198         9     2447
79796           NaN         NaN   320000        0     1152         3     4997
84591           NaN         NaN   320000        0      204         4      978
1093      41.823989  -71.412834   192000        0      377         0      742
113215          NaN         NaN   320000        0      803         0     2906
37739           NaN         NaN   320000        0      270         0      866
147590          NaN         NaN   320000        0      363         0      152
89781     41.603221  -73.087749   320000        0      245         1      415
26957     25.673211 -100.309201   192000        0      220         0      181
29588           NaN         NaN   171659        0      116         0     1660
90902           NaN         NaN   320000        0      173         0     1016
49813     55.676310   12.569355   256000        0      117         2     2044
136274    40.745320  -74.053513   320000        0      263         1     2259
87968           NaN         NaN   256000        0      195         0     1584
31554     53.953339   -1.083427   320000        0      464         1      222
70166     40.650000  -73.950000   192000        0      335         1      678
108255    33.575409  131.259262   320000        0      294         0      733
36584     42.291707  -85.587229   192000        0      232         1     1113
17204           NaN         NaN   256000        0      330         2      392
119654    40.233844 -111.658534   192000        0      356         0      642
3628            NaN         NaN   256000        0      207         3      618
82162           NaN         NaN   320000        0       72         1      402
113684    50.733577   -2.758301   192025        0       48         0     7201
112948          NaN         NaN   320000        0      301         1      748
89841           NaN         NaN   320000        0      159         2     3124
82299           NaN         NaN   320000        0      187         0     2391
26338     53.381129   -1.470085   320000        0      173         0      190
149626          NaN         NaN   320000        0      319         0     3139
148119          NaN         NaN   320000        0       34         1     2383
113583          NaN         NaN   320000        0      284         0     3320


         listens number
track_id
43742        850      8
31941       1320      9
50985      19783      0
146981      2908     10
20461        385      6
66124       2193      1
54231       3554      8
37272        207      0
91061        586      7
89882        590     13
25727        114     22
79535        286      3
61870       7864      1
98602       4045     13
63234       1915      5
35827        221     11
21207        456      5
129525        86      3
81654       5227      0
1237         457     14
139988      6785     18
106698       266      2
145495      1410     12
115820      2858      3
85758       2091      5
99511        615     10
126854       402      3
66875       1410      8
43486       3515      2
154883       223     10
...          ...    ...
155115      1786      9
79796       3819      1
84591        392     17
1093         454      2
113215      2390      5
37739        122      8
147590       118     37
89781        211     11
26957         97      4
29588        179      9
90902        656      5
49813       1696      2
136274      1960      2
87968        872      9
31554         59      3
70166        200      9
108255       379      5
36584        806     15
17204        306     40
119654       235     34
3628         510      2
82162        163      5
113684      5962     13
112948       517      6
89841       2037      1
82299       1933      6
26338         78      9
149626      2745      9
148119      2093      0
113583      2662      1

[2000 rows x 17 columns]

In [43]:
tracks._get_numeric_data()

            album                                   artist                   \
         comments favorites     id listens tracks comments favorites     id
track_id
43742          -1        -1   8578      -1     -1        4        82   8390
31941           0         1   6655   19141     14        1        15   7888
50985           3        10   9619  458874     20       32       431  11431
146981          0         0  21917   19158     11        4       110  15891
20461           0         1   4611    3139      5        1         6   5443
66124           0         1  11883    4642     11        0         8   1905
54231           1         3  10138   39825      9        0         8  11955
37272           4         6   7507   76096    154        0         0   8925
91061           0         1  15083    4492      8        0         3  17017
89882           0         2  14966   10262     16        0         0  16908
25727           0         1   5581    2660     22        0         5   6572
79535           0         1  13655    4514      9       12        86  10341
61870           1         1  11237   13949     18        1         8  13173
98602          -1        -1  15950      -1     -1        1         9  15196
63234           0         0  11461   22620     11        0         5  13343
35827           0         0   7341    5380     32        0         1   8632
21207           1         0   4721    3706      8        0         0   5562
129525          0         0  19497     796     44        0         0  21284
81654           0        11  13930  271279     25       29       784   7168
1237            1         1    326    7559     13        0        21    219
139988          0         3  21067   78615     19        2        26  22407
106698          0         1  16623    1809      5        0         6   3226
145495          0         1  21739   47905     21        0         1  19527
115820         -1        -1  17807      -1     -1        1         8  17402
85758           0         0  14455    7089      5        0         4  11577
99511           0         1  16075   10650     13        1         4  12932
126854          0         0  19177    9322     12        0         1  21038
66875           0         4  11990   23405     42        3         9  13912
43486           4         7   8533  121412     18        0         0  10160
154883          0         0  22859    4919     15        4       110  15891
...           ...       ...    ...     ...    ...      ...       ...    ...
155115          1         0  22905   11141     10       55       861  16852
79796           0         0  13698    6824      2        7        11   4634
84591           0         3  14291   20640     27        0         0  16322
1093            0         0    299    2453     10        1         2    202
113215          0         0  17448   32079     14        0         5  19030
37739           0         1   7536    1877     16        0         4   8990
147590          0         2  22003   27143     88        0         0  23440
89781           1         0  14959   11188     37        1         7   1640
26957          -1        -1   5830      -1     -1        0        23    966
29588           0         0   6312    3938      9        0         0   7368
90902           0         0  15052    5588     12        0         1  17011
49813           0         0   9460   18770      7        0         0  11298
136274          0         0  20468    6201      3        0         0   4368
87968           0         0  14793    6530     10        0         0  16824
31554           0         1   6607     205      3        1         3   2194
70166           0         0  12468    5258     12        0         4   5144
108255          0         0  16838   12129     16        1        10  13625
36584           2         3   7456   44437     19        0        16   8732
17204           0         0   3891   37017    110        0         9   1975
119654          0         1  18264    8365     38        0         3   1843
3628            0         1   1704    2633      0        1         4    742
82162           0         0  13969    5950     15        0        12   9680
113684          0         0  17522  111545     17       15       199    129
112948          0         0  17412    6356      9        0         9  16607
89841           0         0  14962   18707     13        0         2  16894
82299           0         0  13980   68379     19        0         5  15984
26338           0         0   5715    2183     14        0         2   6693
149626          0         0  22310   10438      9        0         0  23687
148119          0         1  22086  121902     26        2        10  23539
113583          0         0  17506    2660      1        0         3  16295

                                   track                                       \
           latitude   longitude bit_rate comments duration favorites interest
track_id
43742     39.263517  -76.623942   160000        0      325         2     2629
31941     46.211401    2.209360   320000        0      168         2     2105
50985     40.692455  -73.990364   267146        0      174        26    31224
146981    58.007359   56.228149   320000        0      308         0     3491
20461     41.871940   12.567380   171259        0       86         0      722
66124     45.508670  -73.553993   256000        0      187         1     3155
54231     53.273880   -9.048350   320000        0       68         5     5865
37272           NaN         NaN   320000        0      302         1     1109
91061           NaN         NaN   128000        0      263         1      849
89882           NaN         NaN   320000        0      226         0      908
25727           NaN         NaN   252569        0      118         0      641
79535     27.761020  -83.832764   218055        0       86         0     1070
61870     40.692455  -73.990364   128000        0      221         6     9289
98602           NaN         NaN   320000        0      220         2     5069
63234     45.262321  -69.012493   320000        0      174         5     3962
35827           NaN         NaN   320000        0      103         1      297
21207           NaN         NaN   128000        0      280         0     2572
129525          NaN         NaN   320000        0      152         1      118
81654     45.523452 -122.676207   320000        0      248         4     8656
1237      41.823989  -71.412834   128000        0       29         1      584
139988          NaN         NaN   320000        0       44         1     7260
106698          NaN         NaN   320000        0      206         1      447
145495          NaN         NaN   320000        0      346         0     1529
115820          NaN         NaN   128000        0      270         1     3207
85758           NaN         NaN   320000        0      148         0     2702
99511     34.053490 -118.245319   320000        0      340         1      735
126854          NaN         NaN   320000        0      293         0      627
66875           NaN         NaN   183164        0      213         2     1836
43486           NaN         NaN   320000        0      251         5     6285
154883    58.007359   56.228149   320000        0      335         1      249
...             ...         ...      ...      ...      ...       ...      ...
155115          NaN         NaN   320000        0      198         9     2447
79796           NaN         NaN   320000        0     1152         3     4997
84591           NaN         NaN   320000        0      204         4      978
1093      41.823989  -71.412834   192000        0      377         0      742
113215          NaN         NaN   320000        0      803         0     2906
37739           NaN         NaN   320000        0      270         0      866
147590          NaN         NaN   320000        0      363         0      152
89781     41.603221  -73.087749   320000        0      245         1      415
26957     25.673211 -100.309201   192000        0      220         0      181
29588           NaN         NaN   171659        0      116         0     1660
90902           NaN         NaN   320000        0      173         0     1016
49813     55.676310   12.569355   256000        0      117         2     2044
136274    40.745320  -74.053513   320000        0      263         1     2259
87968           NaN         NaN   256000        0      195         0     1584
31554     53.953339   -1.083427   320000        0      464         1      222
70166     40.650000  -73.950000   192000        0      335         1      678
108255    33.575409  131.259262   320000        0      294         0      733
36584     42.291707  -85.587229   192000        0      232         1     1113
17204           NaN         NaN   256000        0      330         2      392
119654    40.233844 -111.658534   192000        0      356         0      642
3628            NaN         NaN   256000        0      207         3      618
82162           NaN         NaN   320000        0       72         1      402
113684    50.733577   -2.758301   192025        0       48         0     7201
112948          NaN         NaN   320000        0      301         1      748
89841           NaN         NaN   320000        0      159         2     3124
82299           NaN         NaN   320000        0      187         0     2391
26338     53.381129   -1.470085   320000        0      173         0      190
149626          NaN         NaN   320000        0      319         0     3139
148119          NaN         NaN   320000        0       34         1     2383
113583          NaN         NaN   320000        0      284         0     3320


         listens number
track_id
43742        850      8
31941       1320      9
50985      19783      0
146981      2908     10
20461        385      6
66124       2193      1
54231       3554      8
37272        207      0
91061        586      7
89882        590     13
25727        114     22
79535        286      3
61870       7864      1
98602       4045     13
63234       1915      5
35827        221     11
21207        456      5
129525        86      3
81654       5227      0
1237         457     14
139988      6785     18
106698       266      2
145495      1410     12
115820      2858      3
85758       2091      5
99511        615     10
126854       402      3
66875       1410      8
43486       3515      2
154883       223     10
...          ...    ...
155115      1786      9
79796       3819      1
84591        392     17
1093         454      2
113215      2390      5
37739        122      8
147590       118     37
89781        211     11
26957         97      4
29588        179      9
90902        656      5
49813       1696      2
136274      1960      2
87968        872      9
31554         59      3
70166        200      9
108255       379      5
36584        806     15
17204        306     40
119654       235     34
3628         510      2
82162        163      5
113684      5962     13
112948       517      6
89841       2037      1
82299       1933      6
26338         78      9
149626      2745      9
148119      2093      0
113583      2662      1

[2000 rows x 17 columns]

In [44]:
tracks.shape

(2000, 52)

In [0]:
X = absent_df.drop('Reason for absence', axis='columns')
y = absent_df['Reason for absence']

absent_log1 = LogisticRegression().fit(X, y)
absent_log1.score(X, y)

This is the biggest data you've played with so far, and while it does generally fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.