<a href="https://colab.research.google.com/github/invegat/DS-Unit-2-Sprint-3-Advanced-Regression/blob/master/module1-logistic-regression/LS_DS_231_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Logistic Regression

Logistic regression is the baseline for classification models, as well as a handy way to predict probabilities (since those too live in the unit interval). While relatively simple, it is also the foundation for more sophisticated classification techniques such as neural networks (many of which can effectively be thought of as networks of logistic models).

## Lecture - Where Linear goes Wrong
### Return of the Titanic ðŸš¢

You've likely already explored the rich dataset that is the Titanic - let's use regression and try to predict survival with it. The data is [available from Kaggle](https://www.kaggle.com/c/titanic/data), so we'll also play a bit with [the Kaggle API](https://github.com/Kaggle/kaggle-api).

In [0]:
!pip install -U matplotlib

Requirement already up-to-date: matplotlib in /usr/local/lib/python3.6/dist-packages (3.0.2)
Requirement already satisfied, skipping upgrade: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.14.6)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.0.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.3.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.5.3)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib) (40.6.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib) (1.11.0)

In [0]:

%matplotlib inline  
# %matplotlib notebook
# %pylab
import matplotlib
matplotlib._version.sys.version

'3.6.7 (default, Oct 22 2018, 11:32:17) \n[GCC 8.2.0]'

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.1.1)
Requirement already satisfied: urllib3<1.23.0,>=1.15 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2018.11.29)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.0.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: Unidecode>=0.04.16 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.0.23)

In [0]:
# Note - you'll also have to sign up for Kaggle and authorize the API
# https://github.com/Kaggle/kaggle-api#api-credentials

# This essentially means uploading a kaggle.json file
# For Colab we can have it in Google Drive
from google.colab import drive
drive.mount('/content/drive')
%env KAGGLE_CONFIG_DIR=/content/drive/My Drive/downloads/

# You also have to join the Titanic competition to have access to the data
!kaggle competitions download -c titanic

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
env: KAGGLE_CONFIG_DIR=/content/drive/My Drive/downloads/
train.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
# How would we try to do this with linear regression?
import pandas as pd

train_df = pd.read_csv('train.csv').dropna()
test_df = pd.read_csv('test.csv').dropna()  # Unlabeled, for Kaggle submission

train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [0]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [0]:
from sklearn.linear_model import LinearRegression

X = train_df[['Pclass', 'Age', 'Fare']]
y = train_df.Survived

linear_reg = LinearRegression().fit(X, y)
linear_reg.score(X, y)

0.08389810726550917

In [0]:
linear_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([0.79543117, 0.58610823, 0.67595121, 0.793829  , 0.62090522,
       0.72542107, 0.59848968, 0.58734245, 0.48567063, 0.77627736,
       0.84211887, 0.57052439, 0.7754689 , 0.96621114, 0.70287941,
       0.57673837, 0.72321391, 0.75894755, 0.77968041, 0.50246003,
       0.49858077, 0.7474959 , 0.3542282 , 0.61648435, 0.71300224,
       0.66294608, 0.53175333, 0.77397395, 0.68419387, 0.68395536,
       0.52041202, 0.56814038, 0.79586606, 0.81372012, 0.61068545,
       0.57260627, 0.52525981, 0.58055388, 0.45584728, 0.67976208,
       0.8226707 , 0.84286197, 0.96189157, 0.66724612, 0.68589478,
       0.61846513, 0.63455044, 0.68275686, 0.65738372, 0.45198998,
       0.59988596, 0.63845908, 0.63132487, 0.7888473 , 0.60126246,
       0.79714045, 0.78713803, 0.54643775, 0.42823635, 0.7711724 ,
       0.53552976, 0.55608044, 0.54480459, 0.57031915, 0.65080369,
       0.77958926, 0.6371013 , 0.70993488, 0.71493598, 0.60375943,
       0.54407206, 0.48186138, 0.76576089, 0.75456305, 0.53968359,
       0.53814461, 0.51431245, 0.80091026, 0.54231482, 0.8260362 ,
       0.58660686, 0.77766767, 0.60296337, 0.70098322, 0.63455044,
       0.68309915, 0.67573142])

In [0]:
linear_reg.coef_

array([-0.08596295, -0.00829314,  0.00048775])

In [0]:
import numpy as np

test_case = np.array([[1, 5, 500]])  # Rich 5-year old in first class
linear_reg.predict(test_case)

array([1.14845883])

In [0]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='liblinear').fit(X, y)
log_reg.score(X, y)

0.7103825136612022

In [0]:
log_reg.predict(test_df[['Pclass', 'Age', 'Fare']])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [0]:
log_reg.predict(test_case)[0]

1

In [0]:
help(log_reg.predict)

Help on method predict in module sklearn.linear_model.base:

predict(X) method of sklearn.linear_model.logistic.LogisticRegression instance
    Predict class labels for samples in X.

    Parameters
    ----------
    X : array_like or sparse matrix, shape (n_samples, n_features)
        Samples.

    Returns
    -------
    C : array, shape [n_samples]
        Predicted class label per sample.

In [0]:
log_reg.predict_proba(test_case)[0]

array([0.02485552, 0.97514448])

In [0]:
# What's the math?
log_reg.coef_

array([[-0.0455017 , -0.02912513,  0.0048037 ]])

In [0]:
log_reg.intercept_

array([1.45878264])

In [0]:
# The logistic sigmoid "squishing" function, implemented to accept numpy arrays
def sigmoid(x):
  return 1 / (1 + np.e**(-x))

In [0]:
sigmoid(log_reg.intercept_ + np.dot(log_reg.coef_, np.transpose(test_case)))

array([[0.97514448]])

So, clearly a more appropriate model in this situation! For more on the math, [see this Wikipedia example](https://en.wikipedia.org/wiki/Logistic_regression#Probability_of_passing_an_exam_versus_hours_of_study).

For live - let's tackle [another classification dataset on absenteeism](http://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work) - it has 21 classes, but remember, scikit-learn LogisticRegression automatically handles more than two classes. How? By essentially treating each label as different (1) from some base class (0).

In [0]:
# Live - let's try absenteeism!
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
!unzip Absenteeism_at_work_AAA.zip

--2019-01-18 22:31:52--  http://archive.ics.uci.edu/ml/machine-learning-databases/00445/Absenteeism_at_work_AAA.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66136 (65K) [application/zip]
Saving to: â€˜Absenteeism_at_work_AAA.zip.1â€™

Absenteeism_at_work 100%[===================>]  64.59K   179KB/s    in 0.4s

2019-01-18 22:31:53 (179 KB/s) - â€˜Absenteeism_at_work_AAA.zip.1â€™ saved [66136/66136]

Archive:  Absenteeism_at_work_AAA.zip
replace Absenteeism_at_work.arff? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Absenteeism_at_work.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Absenteeism_at_work.xls? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace Attribute Information.docx? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace UCI_ABS_TEXT.docx? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [0]:
!head Absenteeism_at_work.csv

ID;Reason for absence;Month of absence;Day of the week;Seasons;Transportation expense;Distance from Residence to Work;Service time;Age;Work load Average/day ;Hit target;Disciplinary failure;Education;Son;Social drinker;Social smoker;Pet;Weight;Height;Body mass index;Absenteeism time in hours
11;26;7;3;1;289;36;13;33;239.554;97;0;1;2;1;0;1;90;172;30;4
36;0;7;3;1;118;13;18;50;239.554;97;1;1;1;1;0;0;98;178;31;0
3;23;7;4;1;179;51;18;38;239.554;97;0;1;0;1;0;0;89;170;31;2
7;7;7;5;1;279;5;14;39;239.554;97;0;1;2;1;1;0;68;168;24;4
11;23;7;5;1;289;36;13;33;239.554;97;0;1;2;1;0;1;90;172;30;2
3;23;7;6;1;179;51;18;38;239.554;97;0;1;0;1;0;0;89;170;31;2
10;22;7;6;1;361;52;3;28;239.554;97;0;1;1;1;0;4;80;172;27;8
20;23;7;6;1;260;50;11;36;239.554;97;0;1;4;1;0;0;65;168;23;4
14;19;7;2;1;155;12;14;34;239.554;97;0;1;2;1;0;0;95;196;25;40

In [0]:
absent_df = pd.read_table('Absenteeism_at_work.csv', sep=';')
absent_df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [0]:
X = absent_df.drop('Reason for absence', axis='columns')
y = absent_df['Reason for absence']

absent_log1 = LogisticRegression(solver='liblinear', multi_class='auto').fit(X, y)
absent_log1.score(X, y)

0.5013513513513513

In [0]:
absent_log1.coef_

array([[-1.27508146e-02, -2.20793886e-01, -4.08404457e-02,
         4.22616389e-01,  7.64613632e-03, -6.18658809e-03,
        -3.11523480e-02,  5.52309565e-02, -1.01707258e-02,
        -1.14781041e-01,  2.51984519e+00,  1.41303285e-02,
         3.56702636e-01,  2.27778616e-01,  1.80478520e-01,
         1.33441356e-01, -9.82098540e-03,  5.23702470e-02,
         7.24744784e-02, -3.15221513e+00],
       [ 5.11128074e-02,  1.77166203e-01, -5.01201750e-01,
        -9.34413067e-02,  8.70070989e-03,  2.90683453e-02,
        -8.19496921e-02,  1.30910624e-01,  3.69193210e-03,
         3.58478924e-02, -7.77198534e-01,  9.21419989e-01,
         2.74046853e-01, -6.53744541e-01, -2.74959514e-01,
        -4.46143318e-01,  1.88638790e-01, -7.60409657e-02,
        -6.85430554e-01,  4.55734002e-03],
       [ 1.74477093e-01,  5.91768593e-01,  4.46355493e-02,
         4.29016838e-01,  5.97802716e-02, -2.02281583e-01,
        -4.44906133e-01, -2.65239556e-01,  8.55486140e-03,
        -4.07755000e-01, -6.70334842e-02,  5.15111418e-02,
        -1.41925514e-01, -5.24034227e-02, -1.81927726e-05,
        -2.16066314e-02,  2.57084168e-01, -2.44962459e-02,
        -7.13783256e-02,  1.06021271e-01],
       [-1.69881727e-01, -8.44450958e-01,  6.19523476e-02,
        -1.61054588e-01,  4.52164851e-02,  3.55299322e-02,
        -6.77983067e-02,  2.11118404e-01,  5.44242972e-02,
         7.88588029e-01, -4.63390739e-02, -2.63965509e-02,
        -3.45042003e-01,  1.42942572e-01, -1.54662581e-01,
         1.35939985e-02, -1.24836203e-01, -5.92970783e-01,
        -1.72013469e-01,  4.40793881e-03],
       [ 1.83780974e-01,  7.31554736e-01,  3.91442653e-01,
         5.08895583e-01,  3.77336010e-02, -3.89834723e-02,
         7.12291057e-01,  1.64426586e-01, -1.13810188e-01,
        -1.64211033e-01, -1.98910328e-02, -5.31845649e-03,
        -2.58062208e-01,  2.72682295e-02, -1.67349920e-02,
        -2.87139797e-02, -1.51679044e-01,  7.80309754e-02,
        -1.42363122e-01, -2.01612569e-02],
       [ 7.04063336e-02,  2.11408701e-01,  2.23255455e-01,
        -7.45821946e-01, -9.91939922e-02,  1.41823442e-01,
         1.09474641e-02,  7.76611644e-03, -1.06518269e-02,
         4.81608748e-01, -2.06899549e-01, -4.45706524e-03,
        -1.35055265e-02,  3.19208662e-03, -7.23070476e-03,
        -5.45246241e-02,  9.39910421e-02, -2.82366098e-01,
         1.41814947e-02, -6.79811734e-04],
       [-8.42882248e-02,  2.17399790e-01, -4.71395895e-02,
        -2.18225939e-01, -5.54814266e-03,  3.86327179e-03,
        -1.38372072e-01,  6.63390618e-02,  1.27387796e-02,
         1.33099263e-02, -2.38374203e-01, -5.44938925e-01,
        -8.80863218e-02, -7.57229052e-01, -4.29442790e-01,
        -2.32952216e-01,  3.15598650e-02, -1.62672159e-02,
        -2.57010971e-01,  1.58058960e-02],
       [-3.37240307e-02, -1.68791836e-01, -3.19627377e-01,
         3.19621545e-01,  3.99691490e-03, -6.94117906e-02,
         7.42788604e-02, -1.31141158e-01, -5.40787168e-03,
        -1.21514773e-01, -5.77294286e-01, -3.92062815e-01,
        -3.94696367e-01, -4.84826642e-02,  5.70942851e-01,
         2.34822717e-01, -1.87264192e-01,  1.11182626e-01,
         4.39039591e-01,  1.18442533e-02],
       [-1.52890145e-02,  1.34160539e-01, -2.68668138e-02,
        -3.03449473e-01, -1.54486500e-02, -2.92343775e-02,
        -2.21214265e-01,  5.13873714e-02,  6.31148147e-03,
         2.07997366e-01, -2.00032667e-01, -1.05905506e-01,
         2.77343241e-01, -2.64607525e-01,  1.02252995e+00,
        -2.62287327e-02,  2.15634289e-02, -1.19350757e-01,
        -1.01798510e-01, -1.66761338e-02],
       [ 5.75018264e-01,  5.09534512e-01, -3.92651921e-01,
        -2.75818970e-01,  2.40533615e-02, -2.18839470e-01,
         3.66251862e-01, -1.60089619e-01,  7.13062388e-03,
        -4.53937308e-01, -7.08219088e-02, -3.54562939e-01,
        -2.82846068e-01,  2.79403734e-02, -1.44116365e-02,
         1.46175274e-02, -3.41713868e-01,  1.92956969e-01,
         3.59020847e-01,  6.90097771e-02],
       [ 5.04483159e-02, -1.16477523e-01, -1.69481385e-02,
         5.92928522e-01,  1.09404775e-02, -2.06467138e-02,
         1.61108670e-01, -1.07214716e-01, -4.08168647e-03,
        -2.31116715e-02, -8.54253971e-01, -6.08813066e-01,
        -2.58151394e-01, -2.85664291e-01, -7.14286081e-02,
        -7.28868576e-01,  4.80687424e-02, -1.99856363e-03,
        -1.46178728e-01,  1.16584825e-02],
       [-2.97610409e-02,  9.15539072e-02, -2.99996417e-01,
        -3.07535039e-01, -4.92384520e-04,  1.33210905e-02,
         2.20500132e-03, -5.90665531e-02,  1.26055987e-02,
         4.80909316e-02, -5.35899100e-01, -4.46511693e-01,
        -2.77035861e-01, -1.16966953e+00,  7.19238702e-01,
        -4.59861613e-01,  3.88798078e-02, -3.75368172e-02,
        -1.07969075e-01,  1.84930548e-02],
       [-1.05983103e-01, -2.16764782e-01, -3.94022188e-02,
         7.94637049e-01, -8.59232204e-03,  2.47513424e-03,
        -7.05917561e-02,  3.95855272e-02,  1.47883644e-02,
         3.86601298e-02, -1.27340783e-01, -2.28098236e-01,
        -4.23579093e-01,  6.14334924e-02, -4.33786104e-01,
         1.98405525e-01,  1.71213262e-02, -1.18506873e-02,
        -3.75194471e-01,  3.31665449e-02],
       [ 1.12498834e-02, -1.78874921e-03, -1.65202497e-02,
         7.09078517e-02, -2.27397979e-03,  2.32781179e-03,
         1.35937080e-02, -3.65682039e-02,  1.42158432e-02,
         3.28995220e-02, -7.94795767e-01,  8.12516439e-01,
        -3.00928389e-02,  7.64696084e-01, -6.57624133e-01,
        -1.97074765e-01,  2.19265551e-02, -6.66325680e-02,
        -1.18256073e-02,  3.19607344e-02],
       [ 5.62518621e-02,  1.01654541e-01,  1.77171581e-01,
         1.13037505e-01,  1.46224193e-02, -7.01103729e-02,
         8.31078902e-02,  6.83676776e-02,  7.12699082e-03,
         6.12452226e-02, -9.41412574e-01,  3.46322885e-01,
        -1.21468342e-01,  1.19091780e+00,  4.25379359e-01,
         4.43609497e-01,  4.51739796e-02, -1.29755553e-01,
        -9.02217432e-02,  6.71870581e-03],
       [ 1.84521478e-01,  3.86193433e-01, -1.87854241e-01,
        -1.27529528e-01,  2.13230662e-02,  1.22112049e-02,
        -4.47304051e-02,  1.75010429e-01, -1.94078541e-02,
        -8.99735013e-03, -1.78650095e-01, -4.99872479e-02,
         6.74743092e-01,  4.96668163e-01,  5.00348745e-01,
        -3.64280825e-01,  1.12928216e-01, -7.62745243e-02,
        -5.86126282e-01,  9.94713371e-03],
       [ 1.06247032e-01, -5.20495832e-01, -6.22614053e-02,
         6.98781468e-01,  9.76195918e-03, -2.09340879e-01,
         5.19889937e-01, -8.74683858e-02, -7.65976483e-02,
        -4.05200412e-01, -2.18028874e-01,  7.51846864e-01,
         2.89353958e-01, -6.91643849e-01,  6.26132656e-01,
        -1.69665214e-01, -3.95108063e-01,  3.60806107e-01,
         6.69244223e-01, -6.15457594e-01],
       [-2.86884861e-01, -5.67612515e-02, -5.93624985e-01,
        -8.34025706e-02, -1.21245469e-01, -1.20706278e-01,
         3.50568701e-01,  3.32060989e-01,  1.65589878e-01,
         6.57168420e-02, -1.03712839e-02,  2.98985013e-03,
         1.24055948e-01, -3.94150507e-02,  6.92014562e-02,
        -4.56963351e-04, -4.56244665e-01, -1.12868288e-01,
        -8.86862035e-02, -1.41642309e-01],
       [-7.90035713e-02,  8.09459874e-02, -1.86814503e-01,
        -3.02904216e-01, -6.33591226e-03,  6.04925938e-04,
        -7.84788997e-02,  5.27267823e-02,  2.71993834e-03,
         6.47177640e-02, -5.76539525e-01, -6.41400355e-02,
         1.41865324e-01, -8.30185872e-01,  6.44027836e-01,
         1.07152681e-01,  1.04703690e-01, -3.72436695e-02,
        -3.59798019e-01, -2.95293262e-04],
       [ 6.12069038e-02, -1.80961205e-02, -4.80318927e-02,
        -1.75964312e-01, -1.24174652e-03,  2.21904656e-03,
        -6.17279417e-02, -5.32781546e-02,  4.63239783e-03,
         3.01581791e-02, -6.92767157e-01,  1.70115064e-01,
         3.62174543e-01,  9.98809826e-01,  7.46336111e-01,
         2.54316422e-01,  7.42197268e-02, -5.70889646e-02,
        -9.53177755e-02,  3.04071943e-02],
       [-1.74672440e-01,  3.19491894e-01, -8.57553356e-02,
        -3.05458844e-01, -1.77205144e-02, -1.63858239e-02,
         3.23234003e-01, -7.92499420e-02,  7.69493536e-03,
         1.00445060e-01, -6.19208630e-02,  7.43829483e-01,
        -7.96888097e-02, -3.12512114e-01,  2.07633034e-01,
        -3.34770785e-01, -1.01674494e-01, -3.02625905e-02,
        -3.82375061e-02, -5.10733404e-03],
       [-9.80484015e-02, -1.00278455e-01,  1.67305318e-01,
        -1.31903754e-01,  1.89850754e-02,  2.06805230e-03,
         1.95533930e-01, -1.57951935e-01, -1.16243373e-03,
         3.80453762e-02, -1.29684368e+00,  5.65308694e-01,
         6.17877294e-01, -4.35589293e-01, -2.08999630e-01,
         6.26786629e-01,  3.23867233e-02, -4.58915543e-02,
        -1.22674044e-01, -2.89066139e-03],
       [ 5.07207631e-03,  1.58217883e-01,  4.18639670e-02,
        -1.54826825e-01,  8.82835854e-04, -2.02132218e-02,
         5.92864753e-02, -6.64508536e-02, -4.06186569e-03,
        -9.37570381e-03, -2.55774235e+00, -3.46414904e-01,
         1.36592621e-01, -4.68137520e-01, -8.86135372e-01,
         5.08599916e-02, -1.48494527e-02,  1.79478220e-02,
         6.25572296e-02, -2.98509878e-01],
       [-8.41296172e-02,  3.64246718e-01, -2.55763703e-01,
         4.63999101e-01,  2.95461950e-02,  7.30725734e-03,
         4.77517209e-01, -8.24881931e-01, -3.64754517e-02,
        -1.44633418e-01, -2.99785538e-01, -6.06811918e-02,
         3.84547555e-01,  8.41854114e-02, -1.06029785e-04,
        -1.99492535e-01,  3.80203996e-01, -2.67351464e-02,
        -1.86038658e-02, -2.78193426e-03],
       [-1.11684073e-02, -5.34617077e-02, -9.84506499e-02,
        -6.39971969e-01, -7.26554333e-04, -2.86895477e-02,
         5.96496997e-02, -3.51258306e-02, -1.85043657e-02,
         7.56939734e-02, -6.99307465e-01, -1.11805242e-01,
         2.94221761e-01, -1.56689664e+00,  7.48253269e-01,
         1.36521499e-02,  3.97379111e-02,  5.94002547e-03,
        -1.80687012e-01, -1.58155107e-01],
       [ 1.76384151e-02,  1.69587500e-01,  2.46492596e-02,
        -2.56664166e-01,  7.87561769e-03, -2.74964087e-02,
        -1.07142576e-01, -4.71203432e-02,  7.49380408e-03,
         1.58293697e-01, -1.32780077e+00,  1.87541548e-01,
         4.28454686e-01,  5.48545450e-01, -4.50306904e-01,
        -1.06056869e+00,  1.31272294e-01, -1.65267423e-01,
        -6.94878570e-02, -1.02896575e-02],
       [ 9.02239854e-02, -9.29018648e-01,  4.01504858e-01,
         5.55322655e-01, -5.20017696e-02, -3.80517365e-02,
         9.91795452e-01, -8.84509000e-01, -2.50834384e-02,
        -1.06262380e-01, -6.50206377e-01,  1.16269735e+00,
        -1.21191641e+00, -2.34255920e-01, -4.92389133e-01,
        -2.92283893e-01, -3.19796361e-01,  2.05008156e-01,
         1.23111630e+00, -5.87540662e-01],
       [ 2.51254771e-02,  3.40490833e-02, -3.75796518e-02,
         1.19082494e-01, -6.95693168e-04,  2.84061173e-02,
        -1.00081927e-03,  3.16005988e-02,  1.01046551e-04,
        -4.81954645e-02, -2.55794076e+00, -1.09979507e+00,
        -1.24500798e-02,  1.00415917e+00, -5.18394783e-01,
        -2.43601117e-01, -3.23909881e-02,  3.53861893e-02,
        -5.72873722e-02, -2.57643190e-01]])

## Assignment - real-world classification

We're going to check out a larger dataset - the [FMA Free Music Archive data](https://github.com/mdeff/fma). It has a selection of CSVs with metadata and calculated audio features that you can load and try to use to classify genre of tracks. To get you started:

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
from datetime import datetime
import math
from scipy.stats import mode
from sklearn.preprocessing import StandardScaler
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
import statsmodels.api as s

/usr/local/lib/python3.6/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [5]:
!wget https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
!unzip fma_metadata.zip

--2019-01-19 21:51:23--  https://os.unil.cloud.switch.ch/fma/fma_metadata.zip
Resolving os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)... 86.119.28.13, 2001:620:5ca1:2ff::ce53
Connecting to os.unil.cloud.switch.ch (os.unil.cloud.switch.ch)|86.119.28.13|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 358412441 (342M) [application/zip]
Saving to: â€˜fma_metadata.zipâ€™

fma_metadata.zip    100%[===================>] 341.81M  25.0MB/s    in 17s

2019-01-19 21:51:41 (20.0 MB/s) - â€˜fma_metadata.zipâ€™ saved [358412441/358412441]

Archive:  fma_metadata.zip
 bunzipping: fma_metadata/README.txt
 bunzipping: fma_metadata/checksums
 bunzipping: fma_metadata/not_found.pickle
 bunzipping: fma_metadata/raw_genres.csv
 bunzipping: fma_metadata/raw_albums.csv
 bunzipping: fma_metadata/raw_artists.csv
 bunzipping: fma_metadata/raw_tracks.csv
 bunzipping: fma_metadata/tracks.csv
 bunzipping: fma_metadata/genres.csv
 bunzipping: fma_metadata/raw_echonest.csv
 bunzipping: fma_metadata/echonest.csv
 bunzipping: fma_metadata/features.csv

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
from datetime import datetime
import math
from scipy.stats import mode
from sklearn.preprocessing import StandardScaler
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns
import statsmodels.api as sm
import time

/usr/local/lib/python3.6/dist-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [12]:
tracks = pd.read_csv('fma_metadata/tracks.csv', header=1)
tracks = tracks.iloc[1:]
pd.set_option('display.max_columns', None)  # Unlimited columns
tracks.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type,active_year_begin,active_year_end,associated_labels,bio,comments.1,date_created.1,favorites.1,id.1,latitude,location,longitude,members,name,related_projects,tags.1,website,wikipedia_page,split,subset,bit_rate,comments.2,composer,date_created.2,date_recorded,duration,favorites.2,genre_top,genres,genres_all,information.1,interest,language_code,license,listens.1,lyricist,number,publisher,tags.2,title.1
1,2,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,[],AWOL - A Way Of Life,7.0,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0.0,2008-11-26 01:42:32,9.0,1.0,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000.0,0.0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168.0,2.0,Hip-Hop,[21],[21],NaN,4656.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293.0,NaN,3.0,NaN,[],Food
2,3,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,[],AWOL - A Way Of Life,7.0,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0.0,2008-11-26 01:42:32,9.0,1.0,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,medium,256000.0,0.0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237.0,1.0,Hip-Hop,[21],[21],NaN,1470.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514.0,NaN,4.0,NaN,[],Electric Ave
3,5,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,[],AWOL - A Way Of Life,7.0,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0.0,2008-11-26 01:42:32,9.0,1.0,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000.0,0.0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206.0,6.0,Hip-Hop,[21],[21],NaN,1933.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151.0,NaN,6.0,NaN,[],This World
4,10,0.0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4.0,6.0,NaN,47632.0,NaN,[],Constant Hitmaker,2.0,Album,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3.0,2008-11-26 01:42:55,74.0,6.0,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN,training,small,192000.0,0.0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161.0,178.0,Pop,[10],[10],NaN,54881.0,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135.0,NaN,1.0,NaN,[],Freeway
5,20,0.0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2.0,4.0,"<p>Â ""spiritual songs"" from Nicky Cook</p>",2710.0,NaN,[],Niris,13.0,Album,1990-01-01 00:00:00,2011-01-01 00:00:00,NaN,<p>Songs written by: Nicky Cook</p>\n<p>VOCALS...,2.0,2008-11-26 01:42:52,10.0,4.0,51.895927,Colchester England,0.891874,Nicky Cook\n,Nicky Cook,NaN,"['instrumentals', 'experimental pop', 'post pu...",NaN,NaN,training,large,256000.0,0.0,NaN,2008-11-26 01:48:56,2008-01-01 00:00:00,311.0,0.0,NaN,"[76, 103]","[17, 10, 76, 103]",NaN,978.0,en,Attribution-NonCommercial-NoDerivatives (aka M...,361.0,NaN,3.0,NaN,[],Spiritual Level

In [3]:
tracks.describe()

,comments,favorites,id,listens,tracks,comments.1,favorites.1,id.1,latitude,longitude,bit_rate,comments.2,duration,favorites.2,interest,listens.1,number
count,106574.000000,106574.000000,106574.000000,1.065740e+05,106574.000000,106574.000000,106574.000000,106574.000000,44544.000000,44544.000000,106574.000000,106574.000000,106574.000000,106574.000000,1.065740e+05,106574.000000,106574.000000
mean,0.394946,1.286927,12826.933914,3.212031e+04,19.721452,1.894702,30.041915,12036.770404,39.901626,-38.668642,263274.695048,0.031621,277.849100,3.182521,3.541310e+03,2329.353548,8.260945
std,2.268915,3.133035,6290.261805,1.478532e+05,39.943673,6.297679,100.511408,6881.420867,18.240860,65.237220,67623.443584,0.321993,305.518553,13.513820,1.901743e+04,8028.070647,15.243271
min,-1.000000,-1.000000,-1.000000,-1.000000e+00,-1.000000,-1.000000,-1.000000,1.000000,-45.878760,-157.526855,-1.000000,0.000000,0.000000,0.000000,2.000000e+00,0.000000,0.000000
25%,0.000000,0.000000,7793.000000,3.361000e+03,7.000000,0.000000,1.000000,6443.000000,39.271398,-79.997459,192000.000000,0.000000,149.000000,0.000000,5.990000e+02,292.000000,2.000000
50%,0.000000,0.000000,13374.000000,8.982000e+03,11.000000,0.000000,5.000000,12029.500000,41.387917,-73.554431,299914.000000,0.000000,216.000000,1.000000,1.314000e+03,764.000000,5.000000
75%,0.000000,1.000000,18203.000000,2.363500e+04,17.000000,1.000000,16.000000,18011.000000,48.856930,4.351710,320000.000000,0.000000,305.000000,3.000000,3.059000e+03,2018.000000,9.000000
max,53.000000,61.000000,22940.000000,3.564243e+06,652.000000,79.000000,963.000000,24357.000000,67.286005,175.277000,448000.000000,37.000000,18350.000000,1482.000000,3.293557e+06,543252.000000,255.000000

In [4]:
tracks.shape

(106574, 53)

In [5]:
list(tracks.columns.values).index('genre_top')

40

In [6]:
unique_genre = tracks.genre_top.unique()
unique_genre

array(['Hip-Hop', 'Pop', nan, 'Rock', 'Experimental', 'Folk', 'Jazz',
       'Electronic', 'Spoken', 'International', 'Soul-RnB', 'Blues',
       'Country', 'Classical', 'Old-Time / Historic', 'Instrumental',
       'Easy Listening'], dtype=object)

In [7]:
len(unique_genre)

17

In [0]:
def get_binary(cat_types, row, index):
  cell = row.iloc[index]
  # print(str(type(cell)) == "<class 'str'>" , type(cell), cell)
  if str(type(cell)) != "<class 'str'>":
    #print('found Nan')
    pattern = '00000000'
  else:
    # print(f'found non-NaN {cell}')
    pattern = f'{(cat_types.index(cell) + 1):08b}'
  return pd.Series([int(pattern[7-j]) for j in range(0,min(8,int(np.log2(len(types))) + 1))])

In [22]:
df = tracks
cats = ['genre_top']
bdf = pd.DataFrame(df)
st = time.perf_counter()
for c in cats:
    index = list(tracks.columns.values).index(c)
    cl = c[0].lower() + c[1:] + '_'
    types = df[c].unique().tolist()
    bdf[[(cl + str(j)) for j in range(0,min(
        8,int(np.log2(len(types))) + 1)) ]] = \
       bdf.apply(lambda row: get_binary(types, row, index), axis=1)
elapsed = time.perf_counter() - st
print(f"apply executed in {elapsed:0.2f} seconds.")
dfbc = bdf.drop(cats,inplace=False, axis=1)

apply executed in 24.79 seconds.

In [0]:
# df = tracks
# cats = ['genre_top']
# for c in cats:
#     cl = c[0].lower() + c[1:] + '-'
#     types = df[c].unique().tolist() 
#     for i in range(0,len(types)):
#       if len(df[df[c] == types[i]]) == 0:
#         continue
#       patterns = df[df[c] == types[i]][c].apply(lambda s: \
#           ('00000000' if pd.isnull(s) else f'{(types.index(s) + 1):08b}'))
#       #tdf['gentre_top_0']= pd.Series([int(p[0]) for p in patterns])
#       print(type(patterns),patterns.shape)
#       for j in range(5):
#         print(patterns.iat[j])
#       for j in range(0,min(8,int(np.log2(len(types))) + 1)):
# #          if j == 0:
# #            print(len([int(p[j]) for p in patterns]))
# #            print(len(df.loc[df[c] == types[i],c]))
# #          print(f"i {i} j {j} types[i]: {types[i]} clj: {cl + str(j)}")
# #          df.loc[df[c] == types[i],c][cl + str(j)] = pd.Series([int(p[j]) for p in patterns])
#           df[cl + str(j)] = pd.Series([int(p[j]) for p in patterns])
# dfbc = df.drop(cats,inplace=False, axis=1)
# # dfbc = dfbc.join(tdf)
# dfbc.head()

In [18]:
dfbc.head(5)

,Unnamed: 0,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,tags,title,tracks,type,active_year_begin,active_year_end,associated_labels,bio,comments.1,date_created.1,favorites.1,id.1,latitude,location,longitude,members,name,related_projects,tags.1,website,wikipedia_page,split,subset,bit_rate,comments.2,composer,date_created.2,date_recorded,duration,favorites.2,genres,genres_all,information.1,interest,language_code,license,listens.1,lyricist,number,publisher,tags.2,title.1,genre_top_0,genre_top_1,genre_top_2,genre_top_3,genre_top_4
1,2,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,[],AWOL - A Way Of Life,7.0,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0.0,2008-11-26 01:42:32,9.0,1.0,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000.0,0.0,NaN,2008-11-26 01:48:12,2008-11-26 00:00:00,168.0,2.0,[21],[21],NaN,4656.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293.0,NaN,3.0,NaN,[],Food,1,0,0,0,0
2,3,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,[],AWOL - A Way Of Life,7.0,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0.0,2008-11-26 01:42:32,9.0,1.0,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,medium,256000.0,0.0,NaN,2008-11-26 01:48:14,2008-11-26 00:00:00,237.0,1.0,[21],[21],NaN,1470.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514.0,NaN,4.0,NaN,[],Electric Ave,1,0,0,0,0
3,5,0.0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4.0,1.0,<p></p>,6073.0,NaN,[],AWOL - A Way Of Life,7.0,Album,2006-01-01 00:00:00,NaN,NaN,"<p>A Way Of Life, A Collective of Hip-Hop from...",0.0,2008-11-26 01:42:32,9.0,1.0,40.058324,New Jersey,-74.405661,"Sajje Morocco,Brownbum,ZawidaGod,Custodian of ...",AWOL,The list of past projects is 2 long but every1...,['awol'],http://www.AzillionRecords.blogspot.com,NaN,training,small,256000.0,0.0,NaN,2008-11-26 01:48:20,2008-11-26 00:00:00,206.0,6.0,[21],[21],NaN,1933.0,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151.0,NaN,6.0,NaN,[],This World,1,0,0,0,0
4,10,0.0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4.0,6.0,NaN,47632.0,NaN,[],Constant Hitmaker,2.0,Album,NaN,NaN,"Mexican Summer, Richie Records, Woodsist, Skul...","<p><span style=""font-family:Verdana, Geneva, A...",3.0,2008-11-26 01:42:55,74.0,6.0,NaN,NaN,NaN,"Kurt Vile, the Violators",Kurt Vile,NaN,"['philly', 'kurt vile']",http://kurtvile.com,NaN,training,small,192000.0,0.0,Kurt Vile,2008-11-25 17:49:06,2008-11-26 00:00:00,161.0,178.0,[10],[10],NaN,54881.0,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135.0,NaN,1.0,NaN,[],Freeway,0,1,0,0,0
5,20,0.0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2.0,4.0,"<p>Â ""spiritual songs"" from Nicky Cook</p>",2710.0,NaN,[],Niris,13.0,Album,1990-01-01 00:00:00,2011-01-01 00:00:00,NaN,<p>Songs written by: Nicky Cook</p>\n<p>VOCALS...,2.0,2008-11-26 01:42:52,10.0,4.0,51.895927,Colchester England,0.891874,Nicky Cook\n,Nicky Cook,NaN,"['instrumentals', 'experimental pop', 'post pu...",NaN,NaN,training,large,256000.0,0.0,NaN,2008-11-26 01:48:56,2008-01-01 00:00:00,311.0,0.0,"[76, 103]","[17, 10, 76, 103]",NaN,978.0,en,Attribution-NonCommercial-NoDerivatives (aka M...,361.0,NaN,3.0,NaN,[],Spiritual Level,0,0,0,0,0

This is the biggest data you've played with so far, and while it does generally fit in Colab, it can take awhile to run. That's part of the challenge!

Your tasks:
- Clean up the variable names in the dataframe
- Use logistic regression to fit a model predicting (primary/top) genre
- Inspect, iterate, and improve your model
- Answer the following questions (written, ~paragraph each):
  - What are the best predictors of genre?
  - What information isn't very useful for predicting genre?
  - What surprised you the most about your results?

*Important caveats*:
- This is going to be difficult data to work with - don't let the perfect be the enemy of the good!
- Be creative in cleaning it up - if the best way you know how to do it is download it locally and edit as a spreadsheet, that's OK!
- If the data size becomes problematic, consider sampling/subsetting
- You do not need perfect or complete results - just something plausible that runs, and that supports the reasoning in your written answers

If you find that fitting a model to classify *all* genres isn't very good, it's totally OK to limit to the most frequent genres, or perhaps trying to combine or cluster genres as a preprocessing step. Even then, there will be limits to how good a model can be with just this metadata - if you really want to train an effective genre classifier, you'll have to involve the other data (see stretch goals).

This is real data - there is no "one correct answer", so you can take this in a variety of directions. Just make sure to support your findings, and feel free to share them as well! This is meant to be practice for dealing with other "messy" data, a common task in data science.

## Resources and stretch goals

- Check out the other .csv files from the FMA dataset, and see if you can join them or otherwise fit interesting models with them
- [Logistic regression from scratch in numpy](https://blog.goodaudience.com/logistic-regression-from-scratch-in-numpy-5841c09e425f) - if you want to dig in a bit more to both the code and math (also takes a gradient descent approach, introducing the logistic loss function)
- Create a visualization to show predictions of your model - ideally show a confidence interval based on error!
- Check out and compare classification models from scikit-learn, such as [SVM](https://scikit-learn.org/stable/modules/svm.html#classification), [decision trees](https://scikit-learn.org/stable/modules/tree.html#classification), and [naive Bayes](https://scikit-learn.org/stable/modules/naive_bayes.html). The underlying math will vary significantly, but the API (how you write the code) and interpretation will actually be fairly similar.
- Sign up for [Kaggle](https://kaggle.com), and find a competition to try logistic regression with
- (Not logistic regression related) If you enjoyed the assignment, you may want to read up on [music informatics](https://en.wikipedia.org/wiki/Music_informatics), which is how those audio features were actually calculated. The FMA includes the actual raw audio, so (while this is more of a longterm project than a stretch goal, and won't fit in Colab) if you'd like you can check those out and see what sort of deeper analysis you can do.